<div class="col-xs-12 p0 ys-product-equipment">
    <div class="ys-product-navbar-title">
        <ol class="breadcrumb br0">
            <li ui-sref="operations.situation.index"><a href="javascript:void(0)">首页</a></li>
            <li ui-sref="basic.index"><a href="javascript:void(0)">数据中心</a></li>
            <li class="active">排班</li>
        </ol>
        <div class="pull-right menus">
            <a href="javascript:void(0)" ui-sref="operations.scene.patrol.index">
                <icon name="arrange-1" width="18px" height="80px"></icon>
                巡场
            </a>
            <a href="javascript:void(0)">
                <icon name="download-1" width="18px" height="80px"></icon>
                排班规则
            </a>
            <a href="javascript:void(0)">
                <icon name="export-1" width="18px" height="80px"></icon>
                导出排班模版
            </a>
            <a href="javascript:void(0)">
                <icon name="import-1" width="18px" height="80px"></icon>
                导入排班数据
            </a>
        </div>
    </div>
    <div class="col-xs-12 p20">
        <div class="col-xs-12 p0 ys-product-conditions">
            <div class="btn-group">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span>{{filter.projectId?projects.hash[filter.projectId].text:'请选择项目'}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="javascript:void(0)"
                               ui-sref="engineering.situation.equipment({projectId:''})">全部项目</a></li>
                        <li ng-repeat="item in projects.options"
                            ui-sref="engineering.situation.equipment({projectId:item.id})"><a
                                href="javascript:void(0)">{{::item.text}}</a></li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span>{{filter.propertyTypeId?propertyTypes.hash[filter.propertyTypeId].text:'请选择部门'}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="javascript:void(0)" ui-sref="engineering.situation.equipment({propertyTypeId:''})">全部部门</a></li>
                    </ul>
                </div>
                <div class="btn-group pl15" uib-dropdown>
                    <button type="button" class="btn btn-default" style="width: 50px" ng-click="add(-1)">
                        <icon name="left-2" width="16px" height="20px" class="text-invalid"></icon>
                    </button>
                    <input type="text" class="btn btn-default" style="width: 90px;" value="2017-10"/>
                    <button type="button" class="btn btn-default" style="width: 50px" ng-click="add(1)">
                        <icon name="right-2" width="16px" height="20px" class="text-invalid"></icon>
                    </button>
                </div>
            </div>
            <div class="search">
                <input class="form-control" name="name" placeholder="请填写人员姓名"
                       ng-model="filter.likeName"/><span></span>
            </div>
        </div>
        <div class="col-xs-12 p0 mt20">
            <table class="table grid">
                <tr class="rs header">
                    <th>设备标号</th>
                    <th>名称</th>
                    <th>型号规则</th>
                    <th>制造厂商</th>
                    <th>设备大类</th>
                    <th>设备子类</th>
                    <th>出厂编号</th>
                    <th>出厂日期</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>设备位置</th>
                </tr>
                <tr class="rs pointer" ng-click="$app.dialog.engineering.equipment.publish({id:1})">
                    <td>GMG-MB1F-a-01</td>
                    <td>变频恒压机组配气罐</td>
                    <td>800</td>
                    <td>上海江南容器制造有限公司</td>
                    <td>给排水设备GPS</td>
                    <td>垂直梯系统</td>
                    <td>16620-35</td>
                    <td>2016-04-28</td>
                    <td>3</td>
                    <td class="text-danger">报废</td>
                    <td>5#楼地下室</td>
                </tr>
            </table>
            <div class="col-xs-12 tr" ng-if="false">
                <div class="col-xs-6 p0">
                    <div class="col-xs-3 td text-ellipsis">SYFZ-FT-2F-a-15(207)</div>
                    <div class="col-xs-3 td text-ellipsis">低压抽压式开关柜</div>
                    <div class="col-xs-2 td text-ellipsis">1AA6</div>
                    <div class="col-xs-4 td text-ellipsis">顺特电器有限公司</div>
                </div>
                <div class="col-xs-1 td text-ellipsis">主力店设备Z</div>
                <div class="col-xs-1 td text-ellipsis">强电</div>
                <div class="col-xs-1 td text-ellipsis">PLGM/MALL13-CSHT-01</div>
                <div class="col-xs-1 td text-ellipsis">2011-07-01</div>
                <div class="col-xs-1 td text-ellipsis">2</div>
                <div class="col-xs-1 td text-ellipsis">7#配电室</div>
            </div>
        </div>
        <div class="col-xs-12 no-data" ng-if="!pager.results.length">
            <icon name="no-data-1" height="100px" width="28px"></icon>
            未查询到相关数据
        </div>
        <div class="col-xs-12 p0 pagers mt20" ng-if="pager.totalElements">
            <span class="summary">共{{pager.totalElements||0}}条记录,当前{{pager.page}}/{{pager.totalPages}}页</span>
            <span class="goto">
                    <input class="text form-control" ng-model="filter.page"/>
                </span>
            <ul class="pull-right mt0"
                uib-pagination
                items-per-page="pager.size"
                total-items="pager.totalElements"
                ng-model="filter.page"
                max-size="filter.maxSize"
                previous-text="上页" next-text="下页" first-text="首页" last-text="尾页"
                boundary-links="true"></ul>
        </div>
    </div>
</div>