<div class="col-xs-12 p0 ys-product-wf-design-category-publish">
    <div class="col-xs-12 ys-dialog-header">
        <h3 class="pull-left m0">{{option.action=='modify'?'编辑':'新增'}}目录</h3>
        <icon class="pull-right ys-dialog-close"
              name="close-1" width="16px" height="50px" ng-click="close()"></icon>
    </div>
    <div class="col-xs-12 p0 pb10 body">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 lh34 mb10 mt15">
                <div class="col-xs-4 p0 text-right text-invalid">上级</div>
                <div class="col-xs-5">
                    <div class="col-xs-12 p0 path" error="{{input.errorCode}}" code="9001">
                        <span class="text-primary pointer" ng-click="selectParentCategory()">
                            {{input.parentId?categories.hash[input.parentId].path:'-- 请选择 --'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p0 lh34 mb10">
                <div class="col-xs-4 p0 text-right text-invalid">目录名称</div>
                <div class="col-xs-5">
                    <input type="text" class="form-control require" ng-model="input.name" error="{{input.errorCode}}"
                           code="9002">
                </div>
            </div>
            <div class="col-xs-12 p0 lh34 mb10">
                <div class="col-xs-4 p0 text-right text-invalid">是否启用</div>
                <div class="col-xs-5">
                    <select select2="{single:true,containerCssClass:'require',data:[{text:'启用',id:1},{text:'禁用',id:2}]}"
                            class="w100p" ng-model="input.isEnabled"
                            error="{{input.errorCode}}" code="9003"></select>
                </div>
            </div>
            <div class="col-xs-12 p0 lh34 mb10">
                <div class="col-xs-4 p0 text-right text-invalid">排序</div>
                <div class="col-xs-3">
                    <input type="text" class="form-control require" ng-model="input.sequence"
                           error="{{input.errorCode}}" code="9004">
                </div>
                <div class="col-xs-6 col-xs-offset-4 text-invalid">
                    从大到小、数字越大越靠前
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 ys-dialog-footer">
        <button class="btn btn-primary pull-right" ng-click="submit()">确认</button>
        <button class="btn btn-danger pull-right" ng-click="drop()" ng-if="input.id">删除</button>
        <button class="btn btn-default pull-right" ng-click="close()">取消</button>
    </div>
</div>