<div class="btn-group">
    <button class="btn btn-default" ng-class="{'active':$app.router.is('management.workflow.design.basic')}"
            ui-sref="management.workflow.design.basic({id:$app.router.params.id})">
        <icon name="info-1" height="20px" width="14px"></icon>
        基本信息
    </button>
    <button class="btn btn-default" ng-class="{'active':$app.router.is('management.workflow.design.diagram')}"
            ui-sref="management.workflow.design.diagram({id:$app.router.params.id})">
        <icon name="flow-2" height="20px" width="14px"></icon>
        流程定义
    </button>
    <button class="btn btn-default" ng-class="{'active':$app.router.is('management.workflow.design.form')}"
            ui-sref="management.workflow.design.form({id:$app.router.params.id})">
        <icon name="form-1" height="20px" width="14px"></icon>
        审批表单
    </button>
    <!--<button class="btn btn-default"  ng-class="{'active':$app.router.is('workflow.design.process.user')}"
            ui-sref="workflow.design.process.user({id:$app.router.params.id})">
        <icon name="approval-user-1" height="20px" width="14px"></icon>
        审批人员
    </button>-->
    <button class="btn btn-default" ng-class="{'active':$app.router.is('management.workflow.design.node')}"
            ui-sref="management.workflow.design.node({id:$app.router.params.id})">
        <icon name="flow-1" height="20px" width="14px"></icon>
        节点配置
    </button>
    <!--<button class="btn btn-default">
        授权
    </button>-->
</div>