<div class="col-xs-12 p0">
    <div class="col-xs-12 p0 selector-header">
        <div class="col-xs-6 pl20 title">{{option.title||'审批人员'}}</div>
        <div class="col-xs-6 pr15">
            <icon class="pull-right ys-dialog-close" name="close-1" width="16px" height="50px" ng-click="close()"></icon>
            <!--<icon class="pull-right text-primary" name="add-1" width="24px" height="50px" ng-click="close()"></icon>-->
        </div>
    </div>
    <div class="col-xs-12 p20 ys-form">
        <div class="col-xs-11 mt10">
            <div class="col-xs-12 p0 lh34 mb10">
                <div class="col-xs-2 p0 text-right text-invalid">关联至</div>
                <div class="col-xs-6">
                    <select select2="utos" class="w100p" ng-model="input.typeId" error="{{input.errorCode}}"
                            code="9004"></select>
                </div>
            </div>
            <div class="col-xs-12 p0 lh34" ng-if="input.typeId=='1002'">
                <div class="col-xs-2 p0 text-right text-invalid">职位</div>
                <div class="col-xs-10">
                    <input type="text" class="form-control require" ng-click="pos()" value="{{userNames()}}" error="{{input.errorCode}}"
                           code="9002">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 selector-footer">
        <button class="btn btn-primary pull-right" ng-click="submit(true)">确认</button>
        <button class="btn btn-default pull-right" ng-click="submit(false)">取消</button>
    </div>
</div>