<div class="col-xs-12 p0"
     ng-style="{minHeight:'calc(100vh - 125px)','border-left':fullscreenStatus=='1'?'1px solid #ddd':''}">
    <div class="col-xs-12 p0 navbar-title pr0">
        <div class="pull-left" ng-include="'scripts/views/management/workflow/design/header.html'"></div>
        <div class="pull-right">
            <button class="btn btn-primary mr20" ng-click="submit()">
                保存
            </button>
        </div>
    </div>
    <div class="col-xs-12 p0 body user">
        <div class="col-xs-12 p0 ">
            <div class="l p0 p20 pt15">
                <div class="col-xs-12 p0 list">
                    <div class="col-xs-12 p0 item hover">
                        <div class="col-xs-2 icon"></div>
                        <div class="col-xs-10 p0" style="color: #999;">定制人员</div>
                    </div>
                    <div class="col-xs-12 p0">
                        <hr class="mb0 mt0"/>
                    </div>
                    <div class="col-xs-12 p0 item" ng-repeat="node in nodes" ng-class="{'selected':input.id==node.id}"
                         ng-click="modify(node)">
                        <div class="col-xs-2 icon"></div>
                        <div class="col-xs-10 p0 text-ellipsis" ng-bind="node.name"></div>
                    </div>
                </div>
                <div class="col-xs-12 no-data" ng-if="!nodes.length">
                    <icon name="no-data-1" height="100px" width="28px"></icon>
                    无表单
                </div>
            </div>
            <div class="r p0 p20 pt15">
            </div>
        </div>
    </div>
</div>