body{margin: 0}

.ys-product-navbar-action{height: 44px;line-height:44px;position: fixed;top:44px;right:15px;/*margin-top: -44px;*/z-index:1000}
.ys-product-navbar-action a{color:#757575;padding-left: 15px;height: 44px;line-height:44px;display: inline-block}
.ys-product-navbar-action a:hover{color: #1faeff}

.ys-product-conditions .ys-framework-dropdown{float: left}
.ys-product-conditions .dropdown-toggle{padding:6px 18px;/*text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;*/}
.ys-product-conditions .dropdown-toggle span.caret{display: inline-block;position: absolute;width: 5px;height: 5px;bottom: 2px;right: 2px;border:none;border-right: solid 2px #999;border-bottom: solid 2px #999}
.ys-product-conditions .dropdown-toggle:hover,
.ys-product-conditions .open .dropdown-toggle{background-color: #E64E4D;border: 1px solid #E64E4D;color: #FFFFFF}
.ys-product-conditions .open .dropdown-toggle span.caret{border-color: #fff}
.ys-product-conditions .btn-group{display: inline-block}
.ys-product-conditions .search{display: inline-block;margin-left: 10px;vertical-align: middle;position: relative}
.ys-product-conditions .search input{float: left;width: 180px}
.ys-product-conditions .search span{float: left;border:1px solid #ccc;display: inline-block;vertical-align: middle;height: 34px;width: 36px;border-left: none;background: url(../img/common/icon/grey_search.png) no-repeat center;cursor:pointer}
.ys-product-conditions .search .btn{float: left}
.ys-product-conditions .select2-container--default.select2-container--focus .select2-selection--multiple{border:1px solid #ccc!important}
.ys-product-conditions .select2-container--default .select2-search__field{height: 32px;line-height: 32px}
.ys-product-conditions .select2-container--default .select2-selection__rendered{/*height: 38px;*/display: block;padding-right: 20px!important;padding-left: 20px!important}
.ys-product-conditions .select2-container--default .select2-selection__rendered .select2-selection__choice{height: 20px;line-height: 20px}
.ys-product-conditions .select2-container--default .select2-selection__rendered div.select2-selection__choice:last-of-type{margin-right: 0px!important}
.ys-product-conditions .select2-container--default{line-height: 32px}

.ys-product-button-bar .col-xs-7{line-height: 34px}
.ys-product-button-bar .col-xs-7 .btn{float: left;margin-right: 15px;width: 90px}
.ys-product-button-bar .col-xs-5{height: 34px;line-height: 34px}

/* ======================================= ys-framework-product-body =======================================+*/
/*.ys-product-body{padding-left:10px;padding-right: 20px}*/
.ys-framework-product-body{/*padding-left:10px;padding-right: 20px;*/}
.ys-framework-product-body-left{width: 240px;float: left;overflow: hidden;transition: width .3s ease-out,opacity .3s linear}
.ys-framework-product-body-left > *{margin-left: 10px}
.ys-framework-product-body-left .ys-framework-tree{width: 210px;overflow: hidden}
.ys-framework-product-body-split{position: fixed;height:calc(100vh - 124px);left: 450px}
.ys-framework-product-body-right{float:left;width:calc(100vw - 460px);border-left: 1px solid #e9eef5;min-height:calc( 100vh - 88px);transition: width .3s ease-out}
.ys-framework-product-body.folding .ys-framework-product-body-left{width: 0;opacity: 0}
.ys-framework-product-body.folding .ys-framework-product-body-right{width:calc(100vw - 220px)}
.fold
.ys-framework-product-body-left > *{margin-left: 20px}
.fold
.ys-framework-product-body-left .ys-framework-tree {width: 200px}
.fold
.ys-framework-product-body-right{width: calc(100vw - 260px)}
.fold
.ys-framework-product-body.folding .ys-framework-product-body-right{width:calc(100vw - 20px)}


.ys-product-navbar-collapse{position: fixed;z-index: 3;top:calc(50% - 30px);width: 20px;height: 60px;left:420px;transition: left 0.3s ease-out}
.ys-product-navbar-collapse .inner{position: relative;overflow: hidden;height: 60px}
.ys-product-navbar-collapse .bg{position: absolute;width: 0;height: 60px;left: auto;right: 0;border-bottom: 9px solid transparent;border-left: none;border-right: 15px solid #F3F3F3;border-top: 9px solid transparent;;transition: all 0.1s ease,0.1s ease}
.ys-product-navbar-collapse .inner .body {position: relative;text-align: center;cursor: pointer;right: -10px;left: auto;transition: all 0.1s ease,0.1s ease;color: #000}
.ys-product-navbar-collapse .inner .body svg{transform:rotate(180deg)}
.ys-product-navbar-collapse .inner:hover .bg{border-bottom: 8px solid transparent;border-left: none;border-right: 20px solid #F3F3F3;border-top: 8px solid transparent}
.ys-product-navbar-collapse .inner:hover .body{right: -4px;left: auto;color: #333}
.ys-product-navbar-collapse.fold{left: 201px}
.ys-product-navbar-collapse.fold .inner .body svg{transform:rotate(0deg)}
.ys-product-navbar-collapse.fold .inner .bg{top: 0;left: 0;border-bottom: 9px solid transparent;border-left: 15px solid #F3F3F3;border-top: 9px solid transparent;border-right: none}
.ys-product-navbar-collapse.fold .inner .body{height: 50px;left: -14px}
.ys-product-navbar-collapse.fold .inner:hover .bg{border-bottom: 8px solid transparent;border-left: 20px solid #F3F3F3;border-top: 8px solid transparent}
.ys-product-navbar-collapse.fold .inner:hover .body{left:-8px}
.fold .ys-product-navbar-collapse{left: 220px}
.fold .ys-product-navbar-collapse.fold{left: 1px}



/* 加载框 */
.ys-framework-loading{
    position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: #34495e;z-index: 900;color:#4F5357;font-family:Helvetica,"Helvetica Neue",Tahoma,Arial,"Microsoft YaHei","PingFang SC";font-size:12px;line-height:1.28571;font-weight:400;-webkit-font-smoothing:antialiased;
    opacity: 0;transition: opacity .15s linear;
}
.ys-framework-loading.in {opacity: 1}
.ys-framework-loading .loader-text{width:200px;height:40px;text-align:center;position:absolute;top:50%;left:50%;margin-left:-100px;margin-top:30px;color:#fff}
.ys-framework-loading .pre{width: 100px;height: 40px;text-align: center;position: absolute;top: 50%;left: 50%;margin-left: -50px;margin-top: -20px}
.ys-framework-loading .pre .left-bar,
.ys-framework-loading .pre .right-bar {width: 6px;height: 40px;background: #fff;position: absolute;border-radius: 4px;top: 0}
.ys-framework-loading .pre .left-bar {left: 0}
.ys-framework-loading .pre .left-bar .left-bar-bottom-bar,
.ys-framework-loading .pre .left-bar .left-bar-top-bar,
.ys-framework-loading .pre .right-bar .right-bar-bottom-bar,
.ys-framework-loading .pre .right-bar .right-bar-top-bar{width:20px;height:6px;background:#fff;position:absolute}
.ys-framework-loading .pre .left-bar .left-bar-top-bar{border-radius:2px 2px 10px 2px;left:1px;top:0}
.ys-framework-loading .pre .left-bar .left-bar-bottom-bar{border-radius:2px 10px 2px 2px;left:1px;bottom:0}
.ys-framework-loading .pre .right-bar .right-bar-top-bar{border-radius:2px 2px 2px 10px;right:1px;top:0}
.ys-framework-loading .pre .right-bar .right-bar-bottom-bar{border-radius:10px 2px 2px 2px;right:1px;bottom:0}
.ys-framework-loading .pre .right-bar {right: 0}
.ys-framework-loading .pre .loader-spinner{width:80px;height:30px;text-align:center;position:absolute;left:50%;top:50%;margin-left:-40px;margin-top:-15px}
.ys-framework-loading .pre .loader-spinner>div{background-color:#fff;height:100%;width:6px;margin-left:2px;display:inline-block;-webkit-animation:bounceLoader 1.2s infinite ease-in-out;animation:bounceLoader 1.2s infinite ease-in-out}
.ys-framework-loading .pre .loader-spinner .ou{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.ys-framework-loading .pre .loader-spinner .te{-webkit-animation-delay:-1s;animation-delay:-1s}
.ys-framework-loading .pre .loader-spinner .ar{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.ys-framework-loading .pre .loader-spinner .y{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.ys-framework-loading.complete{background-color:transparent/*rgba(0, 0,0, 0.1)*/}
.ys-framework-loading.complete .pre{background-color: rgb(248, 249, 251);box-shadow: 0px 5px 32px 0px rgba(81, 79, 79, 0.21);border-radius: 4px;height: 80px;width: 180px;margin-left: -90px}
.ys-framework-loading.complete .pre .loader-spinner{margin-top: -15px}
.ys-framework-loading.complete .loader-text,
.ys-framework-loading.complete .pre .left-bar,
.ys-framework-loading.complete .pre .right-bar{display: none}
.ys-framework-loading.complete .pre .loader-spinner>div{background-color: #F55252}

/* 遮罩 */
.ys-framework-backdrop{background-color:#000;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 900;opacity:0;transition: opacity 0.15s linear}
.ys-framework-backdrop.in{opacity: 0.2!important}

/* 弹出框 */
/*text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;letter-spacing: 0.02em;*/
.ys-framework-dialog{position: fixed;z-index: 900;top:0;left:0;right:0;bottom:0;overflow: auto;overflow-y: auto;transition: opacity 0.15s linear}
.ys-framework-dialog .container{background: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,0.3);/*top:-1000px;*/box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    /*overflow: hidden;*/
    transition: transform 0.15s ease-out,opacity 0.15s linear,width 0.15s;transform: translate(0, -25%);opacity: 0;margin: 0px auto;float:initial!important;
}
.ys-framework-dialog .container.in{transform: translate(0, calc((100vh - 100%) /2 ));opacity: 1}
.ys-framework-dialog-close{padding-right: 7px}
.ys-framework-dialog-close i{color: #000;opacity: .2}
.ys-framework-dialog-close:hover i{opacity: .4}

/* 公共头尾 */
.ys-framework-dialog .selector-header{height: 50px;border-bottom:1px solid #ccc}
.ys-framework-dialog .selector-header .title{line-height: 50px;font-size: 16px;/*font-weight: bold*/}
.ys-framework-dialog .selector-header .search{margin-top: 8px;float: left}
.ys-framework-dialog .selector-header .search,
.ys-framework-dialog .selector-header .search input,
.ys-framework-dialog .selector-header .search span{height: 32px;padding:0;line-height: 32px;float: left}
.ys-framework-dialog .selector-header .search input{border: 1px solid #ccc;width: 160px;padding:0 6px}
.ys-framework-dialog .selector-header .search span{background:url(../img/common/icon/grey_search.png) no-repeat center;width: 34px;border:1px solid #ccc;border-left: none;cursor: pointer}
.ys-framework-dialog .selector-header .pull-right{cursor: pointer}
.ys-framework-dialog .selector-footer{padding:15px 20px;border-top:1px solid #ccc}
.ys-framework-dialog .selector-footer .btn{margin-left: 10px}
.ys-framework-dialog .selector-footer .btn-primary{padding:5px 32px;background: #808c92;border:1px solid #808c92}
.ys-framework-dialog .selector-footer .btn-default{border:2px solid #808c92;padding:4px 12px}

/* 消息提示：confirm、success、info、error */
.ys-framework-dialog-msg{}
.ys-framework-dialog-msg .header,
.ys-framework-dialog-msg .footer{height: 50px;line-height: 50px;text-align: center;border-bottom: 1px solid #e7e7e7;font-size: 18px;overflow: hidden;cursor: pointer}
.ys-framework-dialog-msg .footer{border-bottom: none;border-top:1px solid #BFBFBF;box-sizing: border-box;height: 60px;line-height: 60px;background: #fff}
.ys-framework-dialog-msg .header i.svg-container{width: 58px;float: left;text-align: center;position: absolute;left:0; color: #09C}
.ys-framework-dialog-msg .header icon.right i.svg-container{right: 0;left:auto}
.ys-framework-dialog-msg .body {line-height: 28px;font-size: 16px;text-align: center;padding: 20px 0;text-align: center}
.ys-framework-dialog-msg .footer .col-xs-6:hover,
.ys-framework-dialog-msg .footer .col-xs-12:hover{background: #f5f5f5}
.ys-framework-dialog-msg .footer .col-xs-6:last-child{/*border-left:1px solid #e1e6eb*/}

/* 自定义弹出框 */
.ys-framework-dialog-modal .ys-form .title{padding:0px!important}
.ys-framework-dialog-modal .ys-form .title .btn{margin-left: 10px;margin-right: 0px!important}
.ys-framework-dialog-modal .ys-dialog-header{height: 50px;padding:0 20px;border-bottom:1px solid #ccc}
.ys-framework-dialog-modal .ys-dialog-header h3{margin: 0;line-height: 50px;font-size: 16px}
.ys-framework-dialog-modal .ys-dialog-header .pull-right{cursor: pointer}
.ys-framework-dialog-modal .ys-dialog-body{overflow-y: scroll}
.ys-framework-dialog-modal .ys-dialog-footer{padding:15px 20px;border-top:1px solid #ccc;background: #fff}
.ys-framework-dialog-modal .ys-dialog-footer .btn{margin-left: 10px}
.ys-framework-dialog-modal .ys-dialog-footer .btn-primary{padding:5px 32px;background: #808c92;border:1px solid #808c92}
.ys-framework-dialog-modal .ys-dialog-footer .btn-danger{padding:5px 14px;background: #E64E4D;border:1px solid #E64E4D}
.ys-framework-dialog-modal .ys-dialog-footer .btn-default{border:2px solid #808c92;padding:4px 12px}
.ys-framework-dialog-modal .ys-dialog-footer h3{float: left;margin: 0!important;line-height:30px}
.ys-framework-dialog-modal .require{border-left: 2px solid #E64E4D!important}
.ys-framework-dialog-modal .error{border: 2px solid #E64E4D!important}
.ys-framework-dialog-modal .path.error{padding-left: 15px}

/* 通用表格 */
.ys-framework-grid tr.rs:hover{background:#eaeaea}
.ys-framework-grid tr.rs>th,
.ys-framework-grid tr.rs>td{height: 40px;line-height: 40px!important;padding:0 0 0 15px!important;vertical-align: middle!important;border:none!important}
.ys-framework-grid tr.rs>th:first-child,
.ys-framework-grid tr.rs>td:first-child{padding-left: 20px!important}
.ys-framework-grid-bordered tr.rs>th,
.ys-framework-grid-bordered tr.rs>td{border-bottom: 1px solid #ddd!important}
.ys-framework-grid .require{border-left: 2px solid #E64E4D!important}
.ys-framework-grid tbody{border:none!important}
.ys-framework-grid tr.detail,
.ys-framework-grid tr.detail>td{border:none;height: 0px;padding:0;line-height: initial}
.ys-framework-grid tbody.selected tr.rs>td{background:#4a5468;color: #fff; }
.ys-framework-grid tr.header>th,
.ys-framework-grid tr.header>td{/*color:#757575;*/background: #F3F3F3/*f3f4f8*/;color: #757575/*8592a3*/;border-bottom: 1px solid #d9dde0!important;font-weight: normal}
.ys-framework-grid tr.p0>td{padding:0}

/* 表格表单 */
.ys-framework-grid-form{border:4px solid #808C92;border-top:none;border-bottom:none;background: #fff;position: relative}
.ys-framework-grid-form:after{content:"";display: block;height:4px;background:#808C92;position:absolute;top:0;left:0;right:0}
.ys-framework-grid-form-line{position:absolute;bottom:0;left:0;right:0;border-bottom: 4px solid #808C92}
.ys-framework-grid-form .title{height: 34px;line-height: 34px;padding-left:20px;font-size: 18px;font-weight: bold;padding-right: 10px}
.ys-framework-grid-form .title .pull-right .btn{float: left;margin-right: 10px;padding:6px 20px}
.ys-framework-grid-form select{height: 34px;line-height: 34px;padding-left:15px;border-radius:0;appearance:none;-webkit-appearance: none;background: #fff;border:1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)}
.ys-framework-grid-form select.require{border-left: 2px solid #E64E4D!important;padding-left: 13px}
.ys-framework-grid-form .body{margin-top: 17px;border-top:1px solid #ccc}
.ys-framework-grid-form .control-label{font-weight:normal;color: #757575;padding-right: 5px!important;padding-left: 0px}
.ys-framework-grid-form .require{border-left: 2px solid #E64E4D!important}
.ys-framework-grid-form .error{border: 2px solid #E64E4D!important}
.ys-framework-grid-form .attach.error{padding-left:12px}
.ys-framework-grid-form .select2-selection__rendered{padding-left: 13px!important}
.ys-framework-grid-form select{width:100%;height: 34px;line-height: 34px;padding-left:15px;border-radius:0;appearance:none;-webkit-appearance: none;background: #fff;border:1px solid #ddd;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)}
.ys-framework-grid-form .form-control{width: 100%!important}
.ys-framework-grid-form .viewer{height: 34px;line-height: 34px;/*background: #f5f5f5;*/display: block;width: 100%}
.ys-framework-grid-form .error .ys-framework-dropdown-text{height: 30px;line-height: 30px;border:none}
    /* 右上角消息提示框 */
.ys-framework-tips{position: fixed;z-index: 2002;top:0px;right:0px;left:0;text-align: center;height:0}
.ys-framework-tips .message-item-list{display:inline-block;min-width:300px}
.ys-framework-tips .message-item-item{
    height:58px;line-height: 58px;margin: auto;margin-bottom:10px;border-radius: 4px;font-size:18px;color:#fff;
    padding:0 20px 0 68px;background-size:contain;text-align: left;cursor:pointer;min-width:300px;transition:opacity 0.15s linear;opacity: 0
}
.ys-framework-tips .message-item-item:first-child{margin-top: 20px}
.ys-framework-tips .message-item-item.in{opacity: 1}
.ys-framework-tips .alert-success{background:rgba(31, 174, 255,0.8) url(../img/common/icon/message-success.png) no-repeat 25px center}
.ys-framework-tips .alert-success:hover{background-color:rgba(31, 174, 255,1)}
.ys-framework-tips .alert-warning{background:rgba(138,109,59,0.8) url(../img/common/icon/message-warning.png) no-repeat 25px center}
.ys-framework-tips .alert-warning:hover{background-color:rgba(138,109,59,1)}
.ys-framework-tips .alert-danger{background:rgba(25, 25, 25,0.8) url(../img/common/icon/message-error.png) no-repeat 25px center}
.ys-framework-tips .alert-danger:hover{background-color:rgba(25, 25, 25,1)}
.ys-framework-tips .alert-info{background:rgba(49,112,143,0.8) url(../img/common/icon/message-warning.png) no-repeat 25px center}
.ys-framework-tips .alert-info:hover{background-color:rgba(49,112,143,1)}

/* 表单表格 */
.ys-framework-form-grid{font-family: Arial, Helvetica, "Microsoft YaHei", "STHeiti"}
.ys-framework-form-grid .bt6{border-top:6px solid #818c92}
.ys-framework-form-grid .lh36{height: 36px;line-height: 36px}
.ys-framework-form-grid .title{height:40px;line-height: 40px;color:#333;font-size: 16px;padding:0 0 0 20px}
.ys-framework-form-grid .ys-radio{height: 20px}
.ys-framework-form-grid th,
.ys-framework-form-grid td{vertical-align: middle!important;height: 36px;color:#757575;font-weight:normal}
.ys-framework-form-grid td.p0{padding:0!important}
.ys-framework-form-grid td.pl10{padding-left:20px!important}
.ys-framework-form-grid th{background: #f3f3f3}
.ys-framework-form-grid th strong{color: #333}
.ys-framework-form-grid td input,
.ys-framework-form-grid td textarea{border:0px;resize: none;box-shadow:none;padding-left: 15px}
.ys-framework-form-grid .table input{height: 36px;line-height: 36px}
.ys-framework-form-grid .table .require{border-left: 2px solid #E64E4D!important}
.ys-framework-form-grid .table .select2-selection{border:none;box-shadow:none;height: 36px;line-height: 36px}
.ys-framework-form-grid .table .select2-selection .select2-selection__rendered{padding-left:15px;height: 36px;line-height: 36px}
.ys-framework-form-grid .table .select2-container--open .select2-selection{border:1px solid #ddd;height: 36px;line-height: 36px}
.ys-framework-form-grid .table .select2-selection input{width: 100%!important}
.ys-framework-form-grid .table .table{border:none!important;margin-bottom: 0;table-layout: fixed}
.ys-framework-form-grid .table .table td,
.ys-framework-form-grid .table .table th{border-left:0px!important;border-top:0px!important}
.ys-framework-form-grid .table .table td:last-child,
.ys-framework-form-grid .table .table th:last-child{border-right: 0px!important}
.ys-framework-form-grid .table .table tr:last-child td,
.ys-framework-form-grid .table .table tr:last-child th{border-bottom: 0px}
.ys-framework-form-grid .table .single-img{margin-bottom: 8px;width:206px;margin-top: 5px}
.ys-framework-form-grid .table .ys-cover{margin-bottom: 8px;margin-top: 5px}
.ys-framework-form-grid .table svg{transition-duration:0.15s}
.ys-framework-form-grid .table.up svg{transform:rotate(180deg)}
.ys-framework-form-grid .table.up tr:nth-child(n+2){display: none}
.ys-framework-form-grid .table .error{border: 2px solid #E64E4D!important}
.ys-framework-form-grid .table .attach.error{padding-left:12px}
.ys-framework-form-grid .table tbody{border-top:1px solid #ddd}
.ys-framework-form-grid .uib-datepicker-popup tbody{border:none}
.ys-framework-form-grid .uib-datepicker-popup th{background: none}
.ys-framework-form-grid select{width:100%;height: 36px;line-height: 36px;padding-left:15px;border-radius:0;appearance:none;-webkit-appearance: none;background: #fff;border:none}


/* 图片缩放 */
.ys-framework-zoom{z-index: 900;position: fixed;left:0;top:0;right:0;bottom:0}
.ys-framework-zoom .img{text-align: center;overflow: scroll}
.ys-framework-zoom .img img{height: 600px;margin-top: calc((100vh - 600px)/2)}
.ys-framework-zoom .quit{position: fixed;bottom: 20px;left:calc((100vm - 50px)/2);text-align: center}
.ys-framework-zoom .quit div{width: 80px;margin: auto;display: block;height:80px;border-radius: 45px;background: #fff;line-height: 80px;opacity: 0.6;cursor: pointer}

.ys-framework-require{border-left: 2px solid #E64E4D!important}

/* 动画 */
.fade {opacity: 0;transition: opacity .18s linear}
.fade.in {opacity: 1}
@-webkit-keyframes bounceLoader{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}
@keyframes bounceLoader{0%,100%,40%{transform:scaleY(.4);-webkit-transform:scaleY(.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}
@-webkit-keyframes object_one {75% { -webkit-transform: scale(0)}}
@keyframes object_one {75% {transform: scale(0);-webkit-transform: scale(0)}}
@-webkit-keyframes object_two {75% { -webkit-transform: scale(0)}}
@keyframes object_two {75% {transform: scale(0);-webkit-transform:  scale(0)}}
@-webkit-keyframes object_three {75% {-webkit-transform: scale(0)}}
@keyframes object_three {75% {transform: scale(0);-webkit-transform: scale(0)}}

@media print {
    body,
    table,td,div,span{font-size: 12px!important}
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td{border:1px solid #818c92!important}
    body .require,
    body .ys-form-grid .table .require{border-left:none!important}
    .ys-wf-process-attachment,
    .ys-wf-process-approve{display: none}
    /*.ys-wf-process-diagram{display: none}*/
    .ys-wf-process-diagram,
    .ys-wf-process-history{border:2px solid #818c92!important}
}













