// 主色
$color-primary: #32aaff;
$color-primary-hover:#0f96ff;
// 次主色
$color-primary-2: #2696dd;
$color-primary-hover-2:#0696dd;
// 成功
$color-success: #3c763d;
$color-success-hover:#2b542c;
$color-success-2: #090;
// 错误
$color-danger:#dc3545;
$color-danger-hover:#AC3838;
// 警告
$color-warning: #8a6d3b;
$color-warning-hover:#66512c;
$color-warning-2: #F90;
// 消息
$color-info: #31708f;
$color-info-hover:#245269;
// 失效、禁用
$color-invalid: #757575/*999*/;
$color-invalid-hover: #ccc;