<div class="col-xs-12 ys-platform-p0">
    <div class="ys-platform-navbar ys-platform-no-select">
        <div class="left-bar">
            <div class="item" ng-repeat="bar in $app.defaults.navigation.topSubbar" ng-class="{'active':$app.router.includes(bar.includes)}" ng-click="bar.click?bar.click():$app.router.go(bar.state)" ng-if="!bar.hidden">{{::bar.text}}</div>
        </div>
        <div class="right-bar">
            <div class="item ys-platform-pointer" ng-repeat="item in $app.defaults.navigation.topToolbar" ng-click="item.click?item.click($event):$app.event.publish(item.command)">
                <i ys-platform-icon="{name:item.icon,width:18,height:44}"></i> {{::item.text}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 ys-platform-p0 ys-platform-product-container">
        <div class="col-xs-12 ys-platform-p0 animated-ui-view fadeIn fadeOut" ui-view></div>
    </div>
</div>
