<div class="ys-platform-app">
    <div class="ys-platform-topbar">
        <div class="logo pull-left pointer">
            <a href="/"><img src="../../../../styles/img/logo/default.png"></a>
        </div>
        <div class="fold">
            <i ys-platform-icon="{name:'menus-3',height:44,width:16}"></i>
        </div>
        <div class="channel pull-left">
            <div class="item" ui-sref="{{::item.state}}" ng-repeat="item in $app.defaults.navigation.topbar"
                 ng-class="{'active':$app.router.includes(item.includes)}" ng-bind="::item.text" ng-if="!item.hidden">
            </div>
        </div>
        <div class="menus pull-right">
            <div class="item dropdown mc hidden">
                <div class="dropdown-toggle">
                    消息 <span class="notice-num">0</span>
                </div>
                <div class="dropdown-menu">
                    <div class="arrow"></div>
                    <div class="head">系统消息通知</div>
                    <div class="m">
                        <a href="javascript:void(0)" class="text-primary">
                            你发起的商务条件审批表已经审核完成 ！
                            <span>2017-10-09 14:49</span>
                        </a>
                    </div>
                    <div class="footer text-primary">
                        查看更多 »
                    </div>
                </div>
            </div>
            <div class="item dropdown my">
                <!--<div class="dropdown-toggle" ng-bind-html="::$app.user.realname"></div>-->
                <!--<div class="dropdown-menu hidden">
                    <div class="arrow"></div>
                    <div class="list">
                        <div class="entrance">
                            <i ys-platform-icon="{name:'suo-1',height:20,width:80}"></i>
                            <span>修改密码</span>
                        </div>
                        <div class="entrance">
                            <i ys-platform-icon="{name:'zhuti-1',height:20,width:80}"></i>
                            <span>专业主题</span>
                        </div>
                        <div class="entrance" ui-sref="admin.situation.index">
                            <i ys-platform-icon="{name:'setting-1',height:20,width:80}"></i>
                            <span>进入后台</span>
                        </div>
                    </div>
                    <div class="footer" ng-click="$app.user.logout()">
                        退出系统
                    </div>
                </div>-->
            </div>
            <div class="item dropdown fullscreen">
                <div class="dropdown-toggle">进入全屏</div>
            </div>
        </div>
    </div>
    <div class="ys-platform-sidebar">
        <div class="ys-platform-sidebar-container">
            <!--ui-sref="operations.situation.index" ng-class="{'active':$app.router.includes('operations')}"
            <div class="item" ng-repeat="item in $app.defaults.menus" ui-sref="{{::item.state}}"
                 ng-class="{'active':$app.router.includes(item.includes)}">
                <i class="{{::'icon-'+item.icon}}"></i>
                {{::item.text}}
            </div>
            <div class="manager">系统设置</div>-->
        </div>
    </div>
    <div class="col-xs-12 ys-platform-p0 ys-platform-bg-white ys-platform-product">
        <div class="col-xs-12 ys-platform-p0">
            <div class="col-xs-12 ys-platform-p0 ys-platform-bg-white animated-ui-view fadeIn fadeOut" ui-view></div>
        </div>
    </div>
</div>