<div class="col-xs-12 ys-platform-p0">
    <div class="ys-platform-navbar ys-platform-no-select">
        <div class="left-bar">
            <div class="item" bindonce ng-repeat="bar in $app.defaults.topbarLeftSub" ui-sref="{{::bar.state}}" ng-class="{'active':$app.router.includes(bar.includes)}" bo-text="bar.text"></div>
        </div>
        <div class="right-bar">
            <div class="item ys-platform-pointer" ng-repeat="item in $app.defaults.topbarRightSub" ng-click="item.click($event)">
                <i ys-platform-icon="{name:item.icon,width:18,height:44}"></i> {{::item.text}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 ys-platform-p0 ys-platform-product-container">
        <div class="col-xs-12 ys-platform-p0 animated-ui-view fadeIn fadeOut" ui-view></div>
    </div>
</div>
