.ys-platform-dropdown-contract{
    padding-bottom: 20px;
    .ys-platform-dropdown-contract-header{
        padding:20px;border-bottom:solid 1px #d8e0e7;
        input{
            background: url(../../../../styles/img/common/icon/grey_search.png) no-repeat right 8px center;
            background-size: 17px 16px;
        }
    }
    .ys-platform-dropdown-contract-result{
        padding:10px 20px 5px 20px;border-right:solid 1px #d8e0e7;height: 280px;overflow: hidden;overflow-y: auto;float: left;
        ul,li{
            list-style: none;padding:0;margin: 0;
            color:#333;
        }
        li{line-height: 30px;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        .selected{
            color:#1faeff;
        }
        .title{margin-left:-20px;margin-right:-20px;padding-left: 20px;background:#f8faf9;color:#8b97a7}
    }
    .ys-platform-dropdown-contract-result.area{width: 23%;}
    .ys-platform-dropdown-contract-result.project{width: 23%;}
    .ys-platform-dropdown-contract-result.tenant{width: 23%;}
    .ys-platform-dropdown-contract-result.contract{width: 31%;}
    .ys-platform-dropdown-contract-result.full{width: 54%;}

    .ys-platform-dropdown-contract-result:last-child{
        border-right:none;
    }
    .ys-platform-dropdown-contract-footer{
        padding:15px 20px;border-top:1px solid #ccc;background: #fff
    }
}