<div class="ys-platform-dropdown ys-platform-dropdown-tree">
    <div class="ys-platform-dropdown-title">
        <div class="placeholder"></div>
        <div class="text"></div>
        <i/>
    </div>
    <div class="ys-platform-dropdown-container ys-platform-anim ys-platform-anim-upbit">
        <div class="ys-platform-dropdown-container-header" ng-if="option.search">
            <input class="ys-platform-input" placeholder="-- 请输入查询关键字 --" ng-model="option.filter.term"/>
        </div>
        <div class="ys-platform-dropdown-container-body ys-platform-pt5 ys-platform-pb5" ng-class="{'ys-platform-pb5':!option.multi}">
            <div ys-platform-tree class="tree-simple" tree-model="treeModel"
                 expanded-nodes="expandedNodes"
                 selected-node="selectedNode" on-selection="onSelection(node, selected)" options="treeOptions"><!-- menu-id="ctxMenu" -->
                {{node.name}}
            </div>
        </div>
        <div class="col-xs-12 ys-platform-dropdown-container-footer">
            <button class='btn ys-platform-btn-default' ng-click='clear()'>清空</button>
            <button class='btn ys-platform-btn-primary' ng-click='submit()' ng-if="option.multi">确认</button>
        </div>
    </div>
</div>