.ys-platform-dropdown-tree {
    .ys-platform-dropdown{
        &-container {
            position: absolute;top: 100%;margin-top:2px;left: 0;z-index: 1000;float: left;display: none;font-size: 14px;background: #fff;
            overflow: hidden;min-width:200px;width:100%;border: 1px solid rgba(0,0,0,.15);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            &-header{
                padding:20px;border-bottom:solid 1px #d8e0e7;
                input{background: url(../../../../styles/img/common/icon/grey_search.png) no-repeat right 8px center;background-size: 17px 16px;}
            }
            &-body{
                .tree-label{width: 300px;display: inline-block}
                .tree-simple>ul{width: 500px}
            }
            &-footer{
                height: auto;padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;
                .btn{margin-left: 10px;float: right}
            }
        }
    }
    &.open{
        .ys-platform-dropdown-text{/*border:1px solid #aaa;border-bottom: none;*/background:transparent url(../../../../styles/img/common/icon/select-black-up-icon.png) no-repeat right  10px center!important;}
        .ys-platform-dropdown-container{display: block}
        &.search {
            .ys-platform-dropdown-container{display: block;top:0;}
            .ys-platform-dropdown-search{display:block;}
        }
    }
}