<div class="ys-platform-dropdown ys-platform-dropdown-static">
    <div class="ys-platform-dropdown-title">
        <div class="placeholder"></div>
        <div class="text"></div>
        <div class="tags"></div>
        <i/>
    </div>
    <div class="ys-platform-dropdown-body ys-platform-anim ys-platform-anim-upbit">
        <div class="ys-platform-dropdown-body-tips">没有选项</div>
        <div class="ys-platform-dropdown-body-toolbar">
            <div class="pull-left all">
                <i class="svg-container" style="width: 16px; height: 32px; display: inline-block;">
                    <svg style="width:16px; height: 32px;">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quanxuan-1" svg-href="quanxuan-1"></use>
                    </svg>
                </i> 全选
            </div>
            <div class="pull-left qkxz">
                <i class="svg-container" style="width: 16px; height: 32px; display: inline-block;">
                    <svg style="width:16px; height: 32px;">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-qkxz-1" svg-href="qkxz-1"></use>
                    </svg>
                </i> 清空
            </div>
            <div class="pull-left fx">
                <i class="svg-container" style="width: 16px; height: 32px; display: inline-block;">
                    <svg style="width:16px; height: 32px;">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fanxuan-1" svg-href="fanxuan-1"></use>
                    </svg>
                </i> 反选
            </div>
        </div>
        <div class="ys-platform-dropdown-body-search">
            <i class="ys-platform-icon ys-platform-icon-search"></i>
            <input class="ys-platform-input" type="text" placeholder="请搜索"/>
        </div>
        <div class="ys-platform-dropdown-body-options"></div>
    </div>
</div>