<div class="ys-platform-dropdown-project" ng-click="$event.stopPropagation();">
    <div class="ys-platform-dropdown-toggle">
        <input class="ys-platform-input ys-platform-dropdown-text" type="button"
               value="{{$app.dictionary.PROJECTS.hash[option.model[option.set.id]][option.textField]||option.placeholder}}"/>
        <span class="caret"></span>
    </div>
    <div class="ys-platform-dropdown-container">
        <div class="ys-platform-dropdown-container-header">
            <input class="ys-platform-input" placeholder="{{option.placeholder}}" ng-model="option.filter.term"/>
        </div>
        <div class="ys-platform-dropdown-container-body">
            <div class="ys-platform-dropdown-container-result area">
                <ul>
                    <li ng-repeat="item in $app.dictionary.AREAS.options" ng-click="selectArea(item)"
                        ng-class="{'selected':option.filter.areaId==item.id}">{{item.text}}
                    </li>
                </ul>
            </div>
            <div class="ys-platform-dropdown-container-result project">
                <ul>
                    <li class="ys-platform-dropdown-container-result-title">项目</li>
                    <li ng-repeat="item in projects" ng-click="selectProject(item)"
                        ng-class="{'selected':option.model[option.set.id]==item.id}">{{item.text}}
                    </li>
                    <li ng-if="projects.length==0">
                        <div class="ys-platform-mt0 ys-platform-no-data">请选择区域</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>