.ys-platform-dropdown-project {
    .ys-platform-dropdown-container {
        position: absolute;top: 100%;left: 0;z-index: 1000;float: left;display: none;font-size: 14px;background: #fff;min-width:420px;width:100%;border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        &-header{
          padding:20px;border-bottom:solid 1px #d8e0e7;
          input{background: url(../../../../styles/img/common/icon/grey_search.png) no-repeat right 8px center;background-size: 17px 16px;}
        }
        &-result{
          padding:10px 20px 5px 20px;border-right:solid 1px #d8e0e7;min-height: 60px;overflow: hidden;overflow-y: auto;float: left;
          ul,li{list-style: none;padding:0;margin: 0;color:#333;}
          li{
              line-height: 30px;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
              &:hover{color: #1faeff}
          }
          .selected{color:#1faeff;}
          .ys-platform-dropdown-container-result-title{margin-left:-20px;margin-right:-20px;padding-left: 20px;background:#f8faf9;color:#8b97a7}
        }
        &-result.area{width: 40%;}
        &-result.project{width:60%;border-left:solid 1px #d8e0e7;margin-left: -1px;min-height: 100px;}
        &-result:last-child{
          border-right:none;
        }
        &-footer{
          height: auto;padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;
          .btn{margin-left: 10px;float: right}
        }
    }
    &.open{
        .ys-platform-dropdown-text{/*border:1px solid #aaa;border-bottom: none;*/background:transparent url(../../../../styles/img/common/icon/select-black-up-icon.png) no-repeat right  10px center!important;}
        .ys-platform-dropdown-container{display: block}
        &.search {
        .ys-platform-dropdown-container{display: block;top:0;}
        .ys-platform-dropdown-search{display:block;}
        }
    }
}