.ys-platform-dropdown-static {
    position: relative;background: #fff;float: left;
    .ys-platform-dropdown{
        &-text {
            cursor: pointer;background:transparent url(../../../../styles/img/common/icon/select-black-down-icon.png) no-repeat right  10px center!important;user-select: none;/*box-shadow:none;border:1px solid #dbdede*/transition:none;
            border:1px solid #eff1f4;box-shadow:none;width: 100%;text-align:left;
            &::placeholder{color: #333!important;text-align: center}
        }
        &-container {
            position: absolute;top: 100%;margin-top:2px;left: 0;z-index: 1000;max-height: 380px;min-width: 168px;float: left;display: none;font-size: 14px;background: #fff;/*background:#f6f6f6;*/
            &-items{
                padding: 5px 0;box-shadow: 0 6px 12px rgba(0, 0, 0, .175);width: 100%;border: 1px solid #dfe5e9;overflow-y: scroll;text-align: left;
            }
            .item{
              display: block;padding: 0px 12px;height:32px;line-height:32px;clear: both;font-weight: normal;color: #333;white-space: nowrap;cursor: pointer;
              &:hover,&.active{background-color:#f3f3f3}
            }
        }
    }
    .caret{display:none}
    .ys-platform-require .ys-platform-dropdown .ys-platform-dropdown-text{border-left:none;}
    &.open{
      .ys-platform-dropdown-text{/*border:1px solid #aaa;border-bottom: none;*/background:transparent url(../../../../styles/img/common/icon/select-black-up-icon.png) no-repeat right  10px center!important;}
      .ys-platform-dropdown-container{display: block}
      &.search {
        .ys-platform-dropdown-container{display: block;top:0;}
        .ys-platform-dropdown-search{display:block;}
      }
    }
    &.theme-caret {
      .caret{display: inline-block;position: absolute;width: 5px;height: 5px;bottom: 3px;right: 3px;border: none;border-right: solid 2px #999;border-bottom: solid 2px #999;z-index: 10}
      .ys-platform-dropdown-text{background-image: none!important;text-align: center;padding-left:20px;padding-right: 20px;}
      .ys-platform-dropdown-text:focus{border-color:#dae1e7!important;outline-color:#dae1e7!important;}
      .ys-platform-dropdown-text:hover{background-color: #32aaff!important;color: #FFF!important;border-color:#32aaff!important;}
      .ys-platform-dropdown-text:focus:hover{border-color:#32aaff!important;outline-color:#32aaff!important;}
      .ys-platform-dropdown-text:hover::placeholder{color: #FFF!important;}
      .ys-platform-dropdown-toggle:hover .caret{border-right: solid 2px #FFF;border-bottom: solid 2px #FFF;}
      &.open{
        .ys-platform-dropdown-text,
        .ys-platform-dropdown-text:focus,
        .ys-platform-dropdown-text:hover{
          color: #333;background-color: #d4d4d4!important;;border-color: #8c8c8c!important;box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
          outline:#8c8c8c;z-index: 2;
        }
        .ys-platform-dropdown-text:hover,
        .ys-platform-dropdown-text::placeholder{color: #333!important}
      }
    }
}