@import "../../../../styles/css/variables";
.ys-platform-dropdown {
    &-static{position: relative;background-color: #fff;float: left;}
    // 头
    &-title{
        min-height: 32px;display: inline-block;width: 100%;float: left;cursor: pointer;user-select: none;position: relative;
        border: 1px solid #dae1e7;/*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
        >.placeholder{color: #999;line-height: 30px;padding-left: 12px;padding-right: 30px}
        >.text{line-height: 30px;padding-left: 12px;padding-right:30px;font-size: 14px;text-overflow: ellipsis;overflow: hidden;white-space:nowrap;width: 100%;}
        >.tags{
            padding-top: 4px;padding-bottom:4px;padding-left: 12px;padding-right: 30px;height:initial!important;line-height: initial!important;white-space: normal;
            >.tag{
              background-color:$color-primary;padding: 0px 5px;border-radius: 2px;color: #fff;display: inline-block;
              margin: 2px 4px 2px 0;user-select: none;font-size: 14px;height: 18px;line-height: 18px;
              &:hover i{color: #C0C4CC}
            }
        }
        > i{
          background: url(../../../../styles/img/common/icon/select-black-down-icon.png);width:14px;height:8px;
          display: inline-block;overflow: hidden;position: absolute;right: 11px;top: 50%;margin-top: -4px;transition: all .3s
        }
    }
    &.multi{
        .ys-platform-dropdown-title-content{line-height:initial;white-space:normal;padding-top: 4px;padding-bottom: 4px}
    }
    // 体
    &-body{
        display:none;position: absolute;left: 0;top: 34px;padding: 5px 0;z-index: 1000;min-width: 100%;
        max-height: 300px;overflow-y: auto;background-color: #fff;box-sizing: border-box;transition: top .3s;
        border: 1px solid rgba(0, 0, 0, 0.15);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        // 提示语
        &-tips{font-size: 14px;letter-spacing: 5px;color: #333;text-align: center;line-height: 32px;display: none}
        // 搜索
        &-search{
            padding: 0 10px;display: none;
            >.ys-platform-icon{position: absolute;z-index: 999;height: 32px;line-height: 32px;}
            >.ys-platform-input{
              border: none;border-bottom: 1px solid #E6E6E6;padding-left: 27px;
              &:focus{outline: none;}
            }
        }
        &-options .option{
              padding: 0 10px;
              height: 32px;line-height: 32px;white-space: nowrap;overflow: hidden;
              text-overflow: ellipsis;display: block;vertical-align: middle;cursor: pointer;box-sizing: border-box;
              &:hover,
              &.selected,
              &.ys-platform-checkbox:hover{background-color: #f2f2f2}
              &.ys-platform-checkbox{background: #fff}

        }
    }
    &.open{
        .ys-platform-dropdown-title{
            border-color: #32aaff!important;outline:solid 1px #3aabf3;outline-offset: -1px;;
            i{transform: rotate(180deg);}
        }
        .ys-platform-dropdown-body{display: block}
    }
    //.ys-platform-require .ys-platform-dropdown .ys-platform-dropdown-text{border-left:none;}
    &.theme-caret {
        .ys-platform-dropdown-title {
            text-align: center;
            >.text,
            >.placeholder{padding-right: 15px;color: #555}
            > i{
              position: absolute;bottom: 3px;right: 3px;width: 5px;height: 5px;display: inline-block;background: none;
              border: none;border-right: solid 2px #999;border-bottom: solid 2px #999;z-index: 10;top:initial;
            }
            &:focus{border-color:#dae1e7!important;outline-color:#dae1e7!important;}
            &:hover{
              background-color: #32aaff!important;color: #FFF!important;border-color:#32aaff!important;color: #fff;
              .text,
              .placeholder{color: #FFF}
              >i{border-color: #ffff}
            }
        }
        &.open{
            .ys-platform-dropdown-title,
            .ys-platform-dropdown-title:focus,
            .ys-platform-dropdown-title:hover{
                color: #333;background-color: #d4d4d4!important;;border-color: #8c8c8c!important;box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                outline:#8c8c8c;z-index: 2;color: #333!important;
                >.text,
                >.placeholder{color: #333!important;}
            }
        }
    }
}