<div class="ys-framework-dropdown" ng-class="{'search':option.search}" ng-click="$event.stopPropagation();">
    <div class="ys-framework-dropdown-toggle">
        <input class="form-control ys-framework-dropdown-text" placeholder="{{option.placeholder}}" readonly
               value="{{dictionary.hash[option.model[option.property]].text}}" ng-if="!isObjectToProperty"/>
        <input class="form-control ys-framework-dropdown-text" placeholder="{{option.placeholder}}" readonly
               value="{{option.model[option.property.text]}}" ng-if="isObjectToProperty"/>
        <span class="caret"></span>
    </div>
    <div class="ys-framework-dropdown-container">
        <div class="ys-framework-dropdown-search">
            <input class="form-control" placeholder="{{option.placeholder}}" ng-model="filter.term"/>
        </div>
        <div class="ys-framework-dropdown-items" ng-if="dictionary.options.length">
            <div class="item" ng-repeat="item in dictionary.options" ng-click="select(item)"
                 ng-class="{'active':active(item)}">
                {{item.text}}
            </div>
        </div>
        <div class="ys-framework-dropdown-items text-center text-invalid" ng-if="!dictionary.options.length&&option.search" style="padding:10px;">
            <span ng-if="!filter.term">请输入查询关键字!</span>
            <span ng-if="filter.term">未查询到相关数据</span>
        </div>
    </div>
</div>