<div class="col-xs-12 ys-platform-p0 ys-platform-pt20 ys-platform-product-scrollbar">
    <table class="table ys-platform-list">
        <tbody>
        <tr class="header">
            <th ng-repeat="column in option.columns"
                ng-style="column.style"
                ng-class="column.class" ng-click="sortHandler(column)">
                <span ng-bind-html="column.name"></span>
                <i style="cursor: pointer" ng-if="column.sort" ys-platform-icon="{name:'sort-asc',width:12,height:36}"></i>
            </th>
        </tr>
        </tbody>
        <tbody>
        <tr class="detail">
            <td colspan="{{option.columns.length}}">
                <div ${directive}="newItem" class="col-xs-12 ys-platform-list-form add"
                     style="display: none" ng-if="selectedItem==newItem"></div>
            </td>
        </tr>
        </tbody>
        <tbody ng-repeat="item in option.pager.results" ng-class="{'selected':selectedItem==item}">
        <tr class="rs ys-platform-pointer" ng-click="option.detail&&edit(item)"></tr>
        <tr class="detail">
            <td colspan="{{option.columns.length}}">
                <div ${directive}="item" class="col-xs-12 ys-platform-list-form" style="display: none"
                     ng-if="selectedItem==item"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-xs-12 ys-platform-no-data" ng-if="!option.pager.results.length">
        <i ys-platform-icon="{name:'no-data-1',width:16,height:100}"></i>
        {{option.noDataMessage}}
    </div>
    <div class="col-xs-12 ys-platform-p0 pagers ys-platform-mt20"
         ng-if="option.pagerSupport&&option.pager.totalElements">
        <span class="summary">共{{option.pager.totalElements}}条记录,当前{{option.pager.page}}/{{option.pager.totalPages}}页</span>
        <span class="goto"><input class="text ys-platform-input" ng-model="option.filter.page"/></span>
        <ul class="pull-right ys-platform-mt0"
            uib-pagination
            items-per-page="option.pager.size"
            total-items="option.pager.totalElements"
            ng-model="option.filter.page"
            max-size="option.filter.size"
            previous-text="上页" next-text="下页" first-text="首页" last-text="尾页"
            boundary-links="true"></ul>
    </div>
</div>