<div class="ys-framework-loading in">
    <div class="pre">
        <div class="left-bar">
            <div class="left-bar-top-bar"></div>
            <div class="left-bar-bottom-bar"></div>
        </div>
        <div class="loader-spinner">
            <div class="so"></div>
            <div class="ul"></div>
            <div class="te"></div>
            <div class="ar"></div>
            <div class="y"></div>
        </div>
        <div class="right-bar">
            <div class="right-bar-top-bar"></div>
            <div class="right-bar-bottom-bar"></div>
        </div>
    </div>
    <div class="loader-text">请稍候、系统正在努力加载中。</div>
</div>