<div class="col-xs-12 p0">
    <div class="ys-product-navbar no-select">
        <div class="left-bar">
            <div ui-sref="basic.info.project.index" ng-class="{'active':$app.router.includes('basic.info.project')}"
                 class="item">
                项目信息
            </div>
        </div>
        <div class="right-bar">
            <div class="item pointer" ng-repeat="item in topBarSubMenus" ng-click="item.click($event)">
                <icon name="{{item.icon}}" width="18px" height="44px"></icon>
                {{item.text}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0">
        <div class="col-xs-12 p0 ys-framework-product-container">
            <div class="col-xs-12 p0 animated-ui-view fadeIn fadeOut" ui-view></div>
        </div>
    </div>
</div>