<div class="col-xs-12 p0">
    <div class="col-xs-12 pt20 pr20" ng-class="{true:'pl10',false:'pl20'}[ysSidebarStatus=='unfold']">
        <div class="col-xs-12 p0 ys-product-conditions">
            <div class="btn-group">
                <div class="btn-group">
                    <div ys-framework-dropdown="{dictionary:'HEAD_STATUS',model:filter,property:'statusId',width:120,placeholder:'请选择状态',theme:'caret'}"></div>
                </div>
            </div>
            <div class="search">
                <input class="form-control" placeholder="请输入公司名称、税务编号" ys-framework-keyboard-enter="refresh()"
                       ng-model="filter.termTemp" style="width: 220px;"/><span ng-click="refresh()"></span>
            </div>
        </div>
        <div class="col-xs-12 p0 mt20">
            <table class="table ys-framework-grid">
                <tr class="rs header">
                    <th style="width: 200px">编码</th>
                    <th>公司名称</th>
                    <th>纳税人识别号</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
                <tbody head-publish pager="pager" refresh="refresh()" ng-if="pager.add"></tbody>
                <tbody head-publish pager="pager" refresh="refresh()" model="item" ng-repeat="item in pager.results">
                <tr class="rs pointer no-select"
                    ng-click="$app.form.row.slideToggle({event:$event,pager:pager,item:item})">
                    <td>{{::item.no}}</td>
                    <td>{{::item.name}}</td>
                    <td>{{::item.taxpayerIdentificationNumber}}</td>
                    <td>{{::item.address}}</td>
                    <td>{{::item.tel}}</td>
                    <td ng-class="{'text-danger':item.statusId=='1002'}">
                        {{::$app.dictionary.HEAD_STATUS.hash[item.statusId].text}}
                    </td>
                    <td>{{::item.createdDate|date:'yyyy-MM-dd'}}</td>
                </tr>
            </table>
            <div class="col-xs-12 no-data" ng-if="!pager.results.length">
                <icon name="no-data-1" height="100px" width="28px"></icon>
                未查询到相关数据
            </div>
            <div class="col-xs-12 p0 pagers mt20" ng-if="pager.totalElements">
                <span class="summary">共{{pager.totalElements||0}}条记录,当前{{pager.page}}/{{pager.totalPages}}页</span>
                <span class="goto">
                    <input class="text form-control" ng-model="filter.page"/>
                </span>
                <ul class="pull-right mt0"
                    uib-pagination
                    items-per-page="pager.size"
                    total-items="pager.totalElements"
                    ng-model="filter.page"
                    max-size="filter.maxSize"
                    previous-text="上页" next-text="下页" first-text="首页" last-text="尾页"
                    boundary-links="true"></ul>
            </div>
        </div>
    </div>
</div>

