<tbody>
<tr ng-transclude></tr>
<tr class="detail">
    <td colspan="7">
        <div class="col-xs-12 p0 pt20 ys-framework-grid-form"
             ng-if="pager.editorSelectedItem==input||(pager.add&&!input.id)" style="display: none">
            <div class="col-xs-12 p0 title">
                <span>{{::input.id?'编辑':'新增'}}</span>
                <div class="pull-right">
                    <button class="btn btn-danger" ng-click="submit($event)">保存</button>
                    <button class="btn btn-default" ng-if="input.id"
                            ng-click="$parent.$parent.$parent.$app.form.row.drop({service:'head',refresh:refresh,id:input.id,message:'您正在删除合同抬头信息<br/>该操作不可恢复、确定执行？'})">
                        删除
                    </button>
                    <button class="btn btn-default"
                            ng-click="$parent.$parent.$app.form.row.slideToggle({event:$event,pager:pager})">收起
                    </button>
                </div>
            </div>
            <div class="col-xs-12 body">
                <div class="col-xs-10 col-xs-offset-1 form-horizontal pt20 pb20 pr100">
                    <div class="col-xs-6 p0 mb10">
                        <div class="col-xs-4 text-right p0 lh34">企业名称</div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="input.name"
                                   ys-framework-edit="{model:input,require:true}"
                                   ys-framework-error="{model:input,code:9001}">
                        </div>
                    </div>
                    <div class="col-xs-6 p0 mb10">
                        <div class="col-xs-4 text-right p0 lh34">纳税人识别号</div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="input.taxpayerIdentificationNumber"
                                   ys-framework-edit="{model:input,require:true}"
                                   ys-framework-error="{model:input,code:9002}">
                        </div>
                    </div>
                    <div class="col-xs-6 p0 mb10">
                        <div class="col-xs-4 text-right p0 lh34">电话</div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="input.tel"
                                   ys-framework-edit="{model:input,require:true}"
                                   ys-framework-error="{model:input,code:9003}">
                        </div>
                    </div>
                    <div class="col-xs-6 p0 mb10">
                        <div class="col-xs-4 text-right p0 lh34">状态</div>
                        <div class="col-xs-8">
                            <div ys-framework-edit="{model:input,require:true}"
                                 ys-framework-error="{model:input,code:9004}"
                                 ys-framework-dropdown="{dictionary:'HEAD_STATUS',model:input,property:'statusId',width:140,placeholder:'-- 请选择区域 --'}"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 p0">
                        <div class="col-xs-2 text-right p0 lh34">地址</div>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" ng-model="input.address"
                                   ys-framework-edit="{model:input,require:true}"
                                   ys-framework-error="{model:input,code:9005}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ys-framework-grid-form-line"></div>
        </div>
    </td>
</tr>
</tbody>