.ys-dialog-brand-choose .ys-dialog-body{overflow: initial}
.ys-dialog-brand-choose .results-box{border:2px dashed #ddd;margin-bottom: 20px;text-align: center;}
.ys-dialog-brand-choose .results-box .title{border-bottom: 1px solid #eee;padding-bottom: 10px;}
.ys-dialog-brand-choose .results-box .tag{height:32px;line-height:32px;background: #f1f1f1;display: inline-block;padding:0 10px;margin-right: 10px}
.ys-dialog-brand-choose .results-box .tag icon{margin-left: 2px;}
.ys-dialog-brand-choose .results-box .tag svg{color: #666;cursor: pointer}