<div class="col-xs-12 p0 ys-dialog-brand-choose">
    <div class="col-xs-12 p0 ys-dialog-header">
        <h3 class="pull-left m0">{{::option.title}}</h3>
        <icon class="pull-right ys-dialog-close"
              name="close-1" width="16px" height="50px" ng-click="close()"></icon>
    </div>
    <div class="col-xs-12 p20 pb0 ys-dialog-body">
        <div class="col-xs-12 p0 ys-product-conditions">
            <div class="btn-group">
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span>{{filter.projectId?$app.dictionary.PROJECTS.hash[filter.projectId].text:'请选择项目'}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="javascript:void(0)" ng-click="filter.projectId=undefined">全部项目</a></li>
                        <li ng-repeat="item in $app.dictionary.PROJECTS.options" ng-click="filter.projectId=item.id">
                            <a href="javascript:void(0)">{{::item.text}}</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span>{{filter.approvalStatusId?$app.dictionary.APPROVAL_STATUS.hash[filter.approvalStatusId].text:'请选状态'}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)" ng-click="filter.approvalStatusId=undefined">全部状态</a>
                        </li>
                        <li ng-repeat="item in $app.dictionary.APPROVAL_STATUS.options"
                            ng-click="filter.approvalStatusId=item.id">
                            <a href="javascript:void(0)">{{::item.text}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search">
                <input class="form-control" placeholder="请输入品牌名称"
                       ng-model="filter.likeNameTemp"/><span></span>
            </div>
            <div class="btn-group" style="float: right">
                <button class="btn btn-default" ng-click="addItem()">添加品牌</button>
            </div>
        </div>
        <div class="col-xs-12 p0 pt15">
            <table class="table mb20  ys-framework-grid">
                <tr class="rs header">
                    <th>项目</th>
                    <th>品牌名</th>
                    <th>业态</th>
                    <th>状态</th>
                    <th></th>
                </tr>
                <tbody ng-repeat="item in pager.results">
                <tr class="rs pointer">
                    <td>{{::$app.dictionary.PROJECTS.hash[item.projectId].text}}</td>
                    <td>{{::item.name}}</td>
                    <td>{{::$app.dictionary.LAYOUTS.hash[item.layoutId].text}}</td>
                    <td>{{::$app.dictionary.APPROVAL_STATUS.hash[item.approvalStatusId].text}}</td>
                    <td ng-click="addTag(item)"><!--filter.selectedItem=item-->
                        <icon name="add-2" width="12px" height="40px" class="text-primary"></icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 no-data" ng-if="!pager.results.length">
            <icon name="no-data-1" height="100px" width="28px"></icon>
            未查询到相关数据
        </div>
        <div class="col-xs-12 p15 results-box" ng-if="selecteds.length">
            <div class="tag" ng-repeat="item in selecteds">
                <span>{{item.name}}</span>
                <icon name="close-2" width="12px" height="32px" ng-click="remove(item)"></icon>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 ys-dialog-footer">
        <button class="btn btn-primary pull-right" ng-click="submit(true)">确认</button>
        <button class="btn btn-default pull-right" ng-click="submit(false)">取消</button>
    </div>
</div>