<div class="col-xs-12 p0">
    <!--<div class="ys-product-navbar-action">
        <a href="javascript:void(0)" ui-sref="basic.info.brand.publish">
            <icon name="add-1" width="18px" height="44px"></icon>
            新增品牌
        </a>
    </div>-->
    <div class="col-xs-12 body p20 pt0 pb0 ys-framework-product-body" ng-class="{'folding':foldingStatus=='1'}">
        <div class="ys-framework-product-body-left">
            <div treecontrol class="col-xs-12 p0 pt20 ys-framework-tree ys-framework-tree-simple"
                 tree-model="[$app.dictionary.LAYOUTS.root]"
                 expanded-nodes="expandedLayouts"
                 selected-nodes="selectedLayouts"
                 selected-node="selectedNode" on-selection="onSelection">
                {{node.name}}
            </div>
        </div>
        <div class="ys-product-navbar-collapse" ng-class="{'fold':foldingStatus=='1'}">
            <div class="inner" ng-click="folding()">
                <div class="bg"></div>
                <div class="body">
                    <icon name="indent-1" width="24" height="60"></icon>
                </div>
            </div>
        </div>
        <div class="ys-framework-product-body-split"></div>
        <div class="ys-framework-product-body-right">
            <div class="col-xs-12 p20 pr0 ys-product-button-bar">
                <div class="col-xs-7 p0">
                    <button class="btn btn-primary" ng-click="submit()"
                            ng-if="input.approvalStatusId==1001||input.approvalStatusId==1004">保存
                    </button>
                    <button class="btn btn-success" ng-click="approval(1002)"
                            ng-if="input.approvalStatusId==1001||input.approvalStatusId==1004">提交审核
                    </button>
                    <button class="btn btn-danger" ng-click="drop()"
                            ng-if="input.id&&(input.approvalStatusId==1001||input.approvalStatusId==1004)">删除
                    </button>
                    <button class="btn btn-success" ng-if="input.approvalStatusId==1002" ng-click="approval(1003)">审核通过
                    </button>
                    <button class="btn btn-warning" ng-if="input.approvalStatusId==1002" ng-click="approval(1004)">驳回
                    </button>
                    <button class="btn btn-danger" ng-if="input.approvalStatusId==1003" ng-click="approval(1001)">
                        取消审核
                    </button>
                    <button class="btn btn-default" ng-click="showAttachments()">附件管理</button>
                    <button class="btn btn-default" ng-click="$app.back()">返回</button>
                </div>
                <div class="col-xs-5 p0 text-right ">
                    <span class="text-invalid pr5">业务员</span>
                    <span>{{::input.clerkName||$app.user.realname}}</span>
                    <span style="padding: 0 5px">/</span>
                    <span class="text-invalid pr5">建档日期</span>
                    <span>{{(input.createdDate||$app.now.getTime())|date:'yyyy-MM-dd HH:mm'}}</span>
                    <span style="padding: 0 5px">/</span>
                    <span class="text-invalid pr5">状态</span>
                    <span>{{$app.dictionary.APPROVAL_STATUS.hash[input.approvalStatusId].text}}</span>
                </div>
            </div>
            <div class="col-xs-12 pl20 pr0 ys-framework-form-grid">
                <!-- 头 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <th class="pl20">项目</th>
                        <td class="p0">
                            <div class="col-xs-12 pl15 lh36 pointer require" ng-click="setProject()"
                                 error="{{input.errorCode}}" code="9001">
                                <span ng-if="!input.projectId">--请选择--</span>
                                <span ng-if="input.projectId" class="text-black">{{$app.dictionary.PROJECTS.hash[input.projectId].text}}</span>
                            </div>
                        </td>
                        <th class="pl20">业态</th>
                        <td class="p0">
                            <div class="col-xs-12 pl15 lh36 pointer require" ng-click="setLayout()"
                                 error="{{input.errorCode}}" code="9002">
                                <span ng-if="!input.layoutId">--请选择--</span>
                                <span ng-if="input.layoutId" class="text-black">{{$app.dictionary.LAYOUTS.hash[input.layoutId].path}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">战略合作</th>
                        <td class="p0">
                            <div class="col-xs-12 require lh36" error="{{input.errorCode}}" code="9003">
                            <span class="pr10 pointer" ng-click="input.isStrategicCooperation=1"> <span class="ys-radio"
                                                                                                        ng-class="{'selected':input.isStrategicCooperation=='1'}"></span> 是 </span>
                                <span class="pointer" ng-click="input.isStrategicCooperation=2"> <span class="ys-radio"
                                                                                                       ng-class="{'selected':input.isStrategicCooperation=='2'}"></span> 否</span>
                            </div>
                        </td>
                        <th class="pl20">品牌级别</th>
                        <td class="p0">
                            <input class="form-control readonly require" readonly code="9004"
                                   error="{{input.errorCode}}" placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'BRAND_INTENTION_LEVE',input:input,property:'levelId'}"/>
                        </td>
                    </tr>
                </table>

                <!-- 基本信息 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12" ng-class="{'up':s1}">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <td colspan="4" class="title">
                            1 基本信息
                            <div class="pointer pull-right pr5" ng-click="s1=!s1">
                                <icon name="down-1" height="40px" width="30px" style="float: right"></icon>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>品牌资料</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">品牌名(中)</th>
                        <td class="p0">
                            <input class="form-control require" ng-model="input.name" error="{{input.errorCode}}"
                                   code="9005"/>
                        </td>
                        <th class="pl20">品牌名(英)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.english" error="{{input.errorCode}}"
                                   code="9006"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">需求面积(m²)</th>
                        <td class="p0">
                            <input class="form-control readonly require" readonly code="9007"
                                   error="{{input.errorCode}}" placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'TAKE_STANDARDS',input:input,property:'takeStandardId'}"/>
                        </td>
                        <th class="pl20">连锁/单店</th>
                        <td class="p0">
                            <input class="form-control readonly require" readonly code="9008"
                                   error="{{input.errorCode}}" placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'BRAND_CHAINS',input:input,property:'isChain'}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">LOGO</th>
                        <td class="pl15 pt5">
                            <div class="col-xs-12 p0">
                                <a class="text-primary" href="javascript:void(0)" uploader="logoAttachments">点击上传</a>
                                可上传小于2M的常用图片文件
                            </div>
                            <div class="pull-left single-img" ng-if="input.logoAttachment">
                                <img ng-src="{{$app.getStaticUrl(input.logoAttachment.path)}}"
                                     style="height: 120px;width: 180px;"/>
                            </div>
                        </td>
                        <th class="pl20">门店图片</th>
                        <td class="pl15">
                            <div class="col-xs-12 p0">
                                <a class="text-primary" href="javascript:void(0)" uploader="storeAttachments">点击上传</a>
                                可上传小于2M的常用图片文件
                            </div>
                            <div class="ys-cover"
                                 ng-repeat="attachment in input.storeAttachments">
                                <img ng-src="{{$parent.$parent.$parent.$app.getStaticUrl(attachment.path)}}"
                                     style="height: 120px;width: 180px;"/>
                                <div class="drop"
                                     ng-click="dropAttachment(input.storeAttachments,attachment)">
                                    <icon name="error-1" height="20px" width="16px"></icon>
                                </div>
                                <div class="zoom"
                                     ng-click="zoom($parent.$parent.$parent.$app.getStaticUrl(attachment.path))">
                                    <icon name="zoom-1" height="20px" width="16px"></icon>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">官方网址</th>
                        <td class="p0" colspan="3">
                            <input class="form-control" ng-model="input.website"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">全国总门店数</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.childShopSize"/>
                        </td>
                        <th class="pl20">主要分布城市</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.mainDistributionArea"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>经营计划</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">经营方式</th>
                        <td class="p0">
                            <input class="form-control readonly require" readonly code="9010"
                                   error="{{input.errorCode}}" placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'OPERATION_MODELS',input:input,property:'operationModelIds',multiple:true}"/>
                        </td>
                        <th class="pl20">客户来自</th>
                        <td class="p0">
                            <input class="form-control readonly" readonly placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'CUSTOMERS_FROM_DISTANCES',input:input,property:'customersFromDistanceId'}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">开店方式</th>
                        <td class="p0">
                            <input class="form-control readonly" readonly placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'OPEN_SHOP_MODES',input:input,property:'openShopModeIds',multiple:true}"/>
                        </td>
                        <th class="pl20">可进驻商业类型</th>
                        <td class="p0">
                            <input class="form-control readonly" readonly placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'IN_BUS_TYPES',input:input,property:'inBusTypeIds',multiple:true}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>公司信息</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">公司名称</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.companyName"/>
                        </td>
                        <th class="pl20">公司地址</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.address"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">电话</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.tel"/>
                        </td>
                        <th class="pl20">传真</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.fax"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">创建人</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.legalPerson"/>
                        </td>
                        <th class="pl20">创建时间</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.creationDate"
                                   current-text="今天"
                                   clear-text="清空"
                                   close-text="关闭"
                                   is-open="creationDate"
                                   ng-click="creationDate=true"
                                   uib-datepicker-popup="yyyy-MM-dd" error="{{input.errorCode}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">注册地</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.registerAddress"/>
                        </td>
                        <th class="pl20">注册时间</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.registerDate"
                                   current-text="今天"
                                   clear-text="清空"
                                   close-text="关闭"
                                   is-open="registerDate"
                                   ng-click="registerDate=true"
                                   uib-datepicker-popup="yyyy-MM-dd" error="{{input.errorCode}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">产品质量检测报告</th>
                        <td class="pl15" colspan="3">
                            <div class="col-xs-12 p0">
                                <a class="text-primary" href="javascript:void(0)" uploader="qualityAttachments">点击上传</a>
                                可上传小于2M的常用图片文件
                            </div>
                            <div class="ys-cover"
                                 ng-repeat="attachment in input.qualityAttachments">
                                <img ng-src="{{$parent.$parent.$parent.$app.getStaticUrl(attachment.path)}}"
                                     style="height: 120px;width: 180px;"/>
                                <div class="drop"
                                     ng-click="dropAttachment(input.qualityAttachments,attachment)">
                                    <icon name="error-1" height="20px" width="16px"></icon>
                                </div>
                                <div class="zoom"
                                     ng-click="zoom($parent.$parent.$parent.$app.getStaticUrl(attachment.path))">
                                    <icon name="zoom-1" height="20px" width="16px"></icon>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">商标注册证</th>
                        <td class="pl15" colspan="3">
                            <div class="col-xs-12 p0">
                                <a class="text-primary" href="javascript:void(0)"
                                   uploader="trademarkAttachments">点击上传</a>
                                可上传小于2M的常用图片文件
                            </div>
                            <div class="ys-cover"
                                 ng-repeat="attachment in input.trademarkAttachments">
                                <img ng-src="{{$parent.$parent.$parent.$app.getStaticUrl(attachment.path)}}"
                                     style="height: 120px;width: 180px;"/>
                                <div class="drop"
                                     ng-click="dropAttachment(input.trademarkAttachments,attachment)">
                                    <icon name="error-1" height="20px" width="16px"></icon>
                                </div>
                                <div class="zoom"
                                     ng-click="zoom($parent.$parent.$parent.$app.getStaticUrl(attachment.path))">
                                    <icon name="zoom-1" height="20px" width="16px"></icon>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="pl20">备注</th>
                        <td class="p0" colspan="3">
                            <textarea class="form-control" style="height: 80px;" ng-model="input.remark"></textarea>
                        </td>
                    </tr>
                </table>

                <!-- 拓展资料 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12" ng-class="{'up':s2}">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <td colspan="4" class="title">
                            2 拓展资料
                            <div class="pointer pull-right pr5" ng-click="s2=!s2">
                                <icon name="down-1" height="40px" width="30px" style="float: right"></icon>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>市场定位</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">当年拓展计划 (区域)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandCurrentYearPlanArea"/>
                        </td>
                        <th class="pl20">当年拓展计划 (数量)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandCurrentYearPlanSize"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">产品定价</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandProductPricing"/>
                        </td>
                        <th class="pl20">租期要求</th>
                        <td class="p0">
                            <input class="form-control readonly" readonly placeholder="-- 请选择 --"
                                   ys-framework-select="{dictionary:'BRAND_LEASE_CYCLE_DEMAND',input:input,property:'expandLeaseTimeCycleId'}"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>销售业绩</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">年销售总额(万元)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandTotalAnnualSalesAmount"/>
                        </td>
                        <th class="pl20">单店年销售额(万元)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandAnnualSalesAmount"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">客单价(元)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandUnitPriceAmount"/>
                        </td>
                        <th class="pl20">单店平效(元/m<sup>2</sup>/月)</th>
                        <td class="p0">
                            <input class="form-control" ng-model="input.expandProfitabilityAmount"/>
                        </td>
                    </tr>
                </table>

                <!-- 3 商家信息 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12" ng-class="{'up':s3}">
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <tr>
                        <td colspan="4" class="title">
                            3 商家信息
                            <div class="pointer pull-right pr5" ng-click="s3=!s3">
                                <icon name="down-1" height="40px" width="30px" style="float: right"></icon>
                            </div>
                        </td>
                    </tr>
                    <tbody ng-repeat="item in []">
                    <tr>
                        <th class="pl20" colspan="4">
                            <strong>XXX公司</strong>
                        </th>
                    </tr>
                    <tr>
                        <th class="pl20">联系人</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                        <th class="pl20">地址</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">联系手机</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                        <th class="pl20">联系固话</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="pl20">职务</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                        <th class="pl20">邮箱</th>
                        <td class="p0">
                            <input class="form-control require"/>
                        </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td colspan="4" class="no-data" style="line-height: 100px;color: #999">
                            <icon name="no-data-1" height="100px" width="28px"></icon>
                            未查询到相关数据
                        </td>
                    </tr>
                </table>

                <!-- 4 相关网批 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12" ng-class="{'up':s4}">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tr>
                        <td colspan="4" class="title">
                            4 相关网批
                            <div class="pointer pull-right pr5" ng-click="s4=!s4">
                                <icon name="down-1" height="40px" width="30px" style="float: right"></icon>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl20">类型</td>
                        <td class="pl20">发起时间</td>
                        <td class="pl20">发起时间</td>
                        <td class="pl20">网批编号</td>
                    </tr>
                    <tr ng-repeat="item in []">
                        <td class="pl20">租赁合同</td>
                        <td class="pl20">七宝宝龙城市广场</td>
                        <td class="pl20">2015-07-06 17:06:32</td>
                        <td class="pl20"><a href="javascript:void(0)">528587</a></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="no-data" style="line-height: 100px;color: #999">
                            <icon name="no-data-1" height="100px" width="28px"></icon>
                            未查询到相关数据
                        </td>
                    </tr>
                </table>
                <!-- 5  经营数据 -->
                <div class="col-xs-12 p0 bt6"></div>
                <table class="table table-bordered col-xs-12" ng-class="{'up':s5}">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <tr>
                        <td colspan="5" class="title">
                            5 经营数据
                            <div class="pointer pull-right pr5" ng-click="s5=!s5">
                                <icon name="down-1" height="40px" width="30px" style="float: right"></icon>
                            </div>
                        </td>
                    </tr>
                    <tbody ng-if="!s5">
                    <tr>
                        <td class="pl20">项目</td>
                        <td class="pl20">合同开始日期</td>
                        <td class="pl20">合同结束日期</td>
                        <td class="pl20">租赁面积</td>
                        <td class="pl20">经营数据</td>
                    </tr>
                    <tr ng-repeat="item in []">
                        <td class="pl20">七宝宝龙城市广场</td>
                        <td class="pl20">2015-09-17</td>
                        <td class="pl20">2017-09-16</td>
                        <td class="pl20">190.3</td>
                        <td class="pl20">
                            <a href="javascript:void(0)">销售平效</a>
                            <a href="javascript:void(0)">欠费情况</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="no-data" style="line-height: 100px;color: #999">
                            <icon name="no-data-1" height="100px" width="28px"></icon>
                            未查询到相关数据
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
