<div class="col-xs-12 p0 ys-dialog-layout-choose">
    <div class="col-xs-12 p0 selector-header">
        <div class="col-xs-7 pl20 title">
            请选择{{option.title}}
        </div>
        <div class="col-xs-5 pr15">
            <icon class="pull-right ys-framework-dialog-close" name="close-1" width="16px" height="50px"
                  ng-click="close()"></icon>
        </div>
    </div>
    <div class="col-xs-12 p0 selector-body" style="overflow:hidden">
        <div class="col-xs-12 p20" style="height: 340px;overflow-y: scroll">
            <div treecontrol class="ys-framework-tree ys-framework-tree-simple" tree-model="trees"
                 expanded-nodes="expandedNodes" selected-node="selectedNode"
                 on-selection="onSelected">
                {{node.name}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 selector-footer">
        <button class="btn btn-primary pull-right" ng-click="submit(true)">确认</button>
        <button class="btn btn-default pull-right" ng-click="submit(false)">取消</button>
    </div>
</div>


<!--
<div class="ys-dialog-tree">
    <div class="col-xs-12 selector-header">
        <div class="col-xs-7 pl5 title">
            请选择{{option.title}}
        </div>
        <icon class="pull-right ys-dialog-close" name="16px" width="26px" height="50px" ng-click="close()"></icon>
    </div>
    <div class="col-xs-12 p0 select-body" style="height: 380px">
        <div treecontrol class="ys-framework-tree ys-framework-tree-simple" tree-model="trees"
             filter-expression="option.filterExpression"
             expanded-nodes="expandedItems" selected-node="selectedNode"
             on-selection="onSelected">
            {{node.name}}
        </div>
    </div>
    <div class="col-xs-12 p0 selector-footer">
        <button class="btn btn-primary pull-right" ng-click="submit(true)">确认</button>
        <button class="btn btn-default pull-right" ng-click="submit(false)">取消</button>
    </div>
</div>
-->
