<div class="ys-dialog-tree">
    <div class="col-xs-12 selector-header">
        <div class="col-xs-7 pl5 title">
            请选择{{option.title}}
        </div>
        <icon class="pull-right text-invalid" name="close-1" width="26px" height="50px" ng-click="close()"></icon>
    </div>
    <div class="col-xs-12 p0 select-body"><!--ys-dialog-body-->
        <div treecontrol class="ys-framework-tree ys-framework-tree-simple" tree-model="trees"
             filter-expression="option.filterExpression"
             expanded-nodes="expandedItems" selected-node="selectedNode"
             on-selection="onSelected">
            {{node.name}}
        </div>
    </div>
    <div class="col-xs-12 p0 selector-footer">
        <button class="btn btn-primary pull-right" ng-click="submit(true)">确认</button>
        <button class="btn btn-default pull-right" ng-click="submit(false)">取消</button>
    </div>
</div>
