<div class="col-xs-12 p0 ys-workflow-design-form">
    <div class="col-xs-12 p0 ys-workflow-design-header">
        <div class="pull-left" ng-include="'management/views/workflow/workflow.design.header.html'"></div>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="submit()">保存</button>
                <!--<button class="btn btn-primary" ng-style="{marginRight:input?'10px':'20px'}" ng-click="add()">新增</button>
                <button class="btn btn-danger" style="margin-right: 20px" ng-if="input.id" ng-click="drop()">删除</button>-->
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 ">
        <div class="l p20 pt15">
            <div class="col-xs-12 p0 list">
                <div class="col-xs-12 p0 item hover">
                    <div class="col-xs-2 icon"></div>
                    <div class="col-xs-10 p0" style="color: #999;">通用表单</div>
                </div>
                <div class="col-xs-12 p0">
                    <hr class="mb0 mt0"/>
                </div>
                <div class="col-xs-12 p0 item"
                     ng-class="{'selected':input.nodeId=='global'}"
                     ng-repeat="form in forms"
                     ng-if="form.nodeId=='global'"
                     ng-click="modify(form)">
                    <div class="col-xs-2 icon"></div>
                    <div class="col-xs-10 p0">
                        {{form.nodeName}}
                        <icon name="enabled-1" width="18px" height="34" class="pull-right mr10 enabled"
                              title="设为默认" ng-if="form.enabled==1" ng-click="toggleFormEnabledStatus(form)"></icon>
                    </div>
                </div>
                <div class="col-xs-12 p0">
                    <hr class="mb0 mt0"/>
                </div>
                <div class="col-xs-12 p0 item hover">
                    <div class="col-xs-2 icon"></div>
                    <div class="col-xs-10 p0" style="color: #999;">定制表单</div>
                </div>
                <div class="col-xs-12 p0">
                    <hr class="mb0 mt0"/>
                </div>
                <div class="col-xs-12 p0 item" ng-repeat="form in forms" ng-if="form.nodeId!='global'"
                     ng-class="{'selected':input.nodeId==form.nodeId}"
                     ng-click="modify(form)">
                    <div class="col-xs-2 icon"></div>
                    <div class="col-xs-8 p0 text-ellipsis" ng-bind="form.nodeName"></div>
                    <div class="col-xs-2 p0 text-right text-invalid">
                        <icon name="disabled-1" width="18px" height="34" class="pull-right mr10"
                              title="设为默认" ng-if="form.enabled==2" ng-click="toggleFormEnabledStatus(form)"></icon>
                        <icon name="enabled-1" width="18px" height="34" class="pull-right mr10 enabled"
                              title="设为默认" ng-if="form.enabled==1" ng-click="toggleFormEnabledStatus(form)"></icon>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 p0 grid grid-hover text-center hidden">
                <div class="col-xs-12 tr header">
                    <div class="col-xs-8 td pl0">表单名称</div>
                    <div class="col-xs-4 td pl0">默认</div>
                </div>
                <div class="col-xs-12 tr" ng-repeat="form in forms" ng-click="modify(form)">
                    <div class="col-xs-8 td pl0">
                        {{($index+1)+" . "+ form.name}}
                    </div>
                    <div class="col-xs-4 td pl0">
                        <icon name="ok-1" width="18px" height="40"
                              ng-class="{'text-success':form.isDefault==1,'text-danger':form.isDefault==2}"
                              ng-click="$event.stopPropagation();setDefault(form)" title="设为默认"></icon>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-data" ng-if="!forms.length">
                <icon name="no-data-1" height="100px" width="28px"></icon>
                无表单
            </div>
        </div>
        <div class="r p20 pr0">
            <div class="col-xs-12 p0 ys-form" ng-init="showTemplate=true">
                <div class="col-xs-12 p0  mb20"><!--text-center-->
                    <div class="btn-group pull-left">
                        <button class="btn btn-default" ng-class="{'active':showTemplate}"
                                ng-click="showTemplate=true">HTML模版
                        </button>
                        <button class="btn btn-default" ng-class="{'active':!showTemplate}"
                                ng-click="showTemplate=false">JS控制器
                        </button>
                    </div>
                    <div class="col-xs-8 lh34 text-invalid">
                        <div class="col-xs-6 p0" ng-if="showTemplate">
                            Angular Template、<a href="javascript:void(0)"
                                                ng-click="showSampleCode('html')">示例代码</a>
                        </div>
                        <div class="col-xs-6 p0" ng-if="!showTemplate">
                            Angular Controller、<a href="javascript:void(0)"
                                                  ng-click="showSampleCode('script')">示例代码</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 p0" ng-if="showTemplate">
                        <textarea class="form-control"
                                  placeholder="Html"
                                  ng-model="input.template" error="{{input.errorCode}}" code="9004"></textarea>
                </div>
                <div class="col-xs-12 p0" ng-if="!showTemplate">
                        <textarea class="form-control"
                                  placeholder="JavaScript" error="{{input.errorCode}}" code="9005"
                                  ng-model="input.script" ng-if="!showTemplate"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>