<div class="col-xs-12 p0 ys-workflow-design-node">
    <div class="col-xs-12 p0 ys-workflow-design-header">
        <div class="pull-left" ng-include="'management/views/workflow/workflow.design.header.html'"></div>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="submit()" ng-if="input">
                    保存
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0">
        <div class="l p0 p20 pt20">
            <div treecontrol class="col-xs-12 p0 ys-framework-tree ys-framework-tree-simple" tree-model="[nodes.root]" options="nodeOptions"
                 expanded-nodes="expandedNodes" selected-node="selectedNode" on-selection="onSelection">
                <span>
                    {{node.name}}
                    <span ng-if="node.multiInstance" class="text-danger">- 会签节点</span>
                </span>
            </div>
        </div>
        <div class="r p0 p20 pt20" ng-if="input">
            <ul class="nav nav-tabs">
                <li style="height: 38px;line-height: 38px;font-size: 16px;">流程节点 -【{{input.name}}】- 属性配置</li>
                <!-- ng-click="input.operation='push'" -->
                <li class="pull-right" ng-class="{'active':input.operation=='push'}">
                    <a href="javascript:void(0)">推送配置</a>
                </li>
                <li class="pull-right" ng-class="{'active':input.operation=='notices'}"
                    ng-click="input.operation='notices'">
                    <a href="javascript:void(0)">节点提醒</a>
                </li>
                <li class="pull-right" ng-class="{'active':input.operation=='multiple'}" ng-if="input.multiInstance"
                    ng-click="input.operation='multiple'">
                    <a href="javascript:void(0)">会签配置</a>
                </li>
                <li class="pull-right" ng-class="{'active':input.operation=='base'}"
                    ng-click="input.operation='base'">
                    <a href="javascript:void(0)">基本配置</a>
                </li>
            </ul>
            <table class="table table-bordered mt20" ng-if="input.operation=='base'">
                <tr>
                    <td class="col-xs-3 bg-gray text-right">允许追回</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setRecover()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isAllowRecover==1}"></span>
                            </span>
                    </td>
                    <td class="col-xs-3 bg-gray text-right">允许发起人删除</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setDrop()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isAllowDrop==1}"></span>
                            </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3 bg-gray text-right">相同审批人跳过</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setSkipSameUser()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isSkipSameUser==1}"></span>
                            </span>
                    </td>
                    <td class="col-xs-3 bg-gray text-right">展示流程图</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setDiagram()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isShowDiagram==1}"></span>
                            </span>

                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3 bg-gray text-right">允许打印</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setPrint()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isAllowPrint==1}"></span>
                            </span>
                    </td>
                    <td class="col-xs-3 bg-gray text-right">展示审批意见</td>
                    <td class="col-xs-3">
                            <span class="pointer" ng-click="setOpinion()">
                                <span class="ys-checkbox" ng-class="{'selected':input.config.isShowOpinion==1}"></span>
                            </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3 bg-gray text-right">通知配置</td>
                    <td class="col-xs-3" colspan="3">
                            <span class="pointer mr15" ng-click="setNotify(1001)">
                                <span class="ys-checkbox" ng-class="{'selected':inNotify(1001)}"></span>
                                内部待办
                            </span>
                        <span class="pointer mr15" ng-click="setNotify(1002)">
                                <span class="ys-checkbox" ng-class="{'selected':inNotify(1002)}"></span>
                                邮件
                            </span>
                        <span class="pointer mr15" ng-click="setNotify(1003)">
                                <span class="ys-checkbox" ng-class="{'selected':inNotify(1003)}"></span>
                                微信
                            </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2 bg-gray text-right" style="vertical-align: middle">任务开始处理器</td>
                    <td class="col-xs-4" colspan="3">
                        <input class="form-control"
                               placeholder="com.yueworldserver.activiti.handler.TaskStartHandler 实现类全路径"
                               ng-model="input.config.startHandle"/>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-2 bg-gray text-right" style="vertical-align: middle">任务完成处理器</td>
                    <td class="col-xs-4" colspan="3">
                        <input class="form-control"
                               placeholder="com.yueworldserver.activiti.handler.TaskEndHandler 实现类全路径"
                               ng-model="input.config.endHandle"/>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered mt20" ng-if="input.operation=='notices'">
                <tr>
                    <td class="col-xs-3 bg-gray text-right" style="vertical-align: middle">节点提醒</td>
                    <td class="col-xs-9">
                            <textarea class="form-control" placeholder="-- 提醒文字 --" style="height: 100px"
                                      ng-model="input.config.notices"></textarea>
                    </td>
                </tr>
            </table>
            <div class="col-xs-12 p0" ng-if="input.operation=='push'">--</div>
            <table class="table table-bordered mt20" ng-if="input.multiInstance&&input.operation=='multiple'">
                <tr>
                    <th class="col-xs-3 bg-gray text-right">投票结果</th>
                    <td class="col-xs-9">
                             <span class="pointer pr15" ng-click="input.config.multi.voteResultTypeId=1001">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.voteResultTypeId==1001}"></span>
                                 通过
                            </span>
                        <span class="pointer pr15" ng-click="input.config.multi.voteResultTypeId=1002">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.voteResultTypeId==1002}"></span>
                                拒绝
                            </span>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3 bg-gray text-right">投票结果满足时</th>
                    <td class="col-xs-9">
                            <span class="pointer pr15" ng-click="input.config.multi.handleTypeId=1001">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.handleTypeId==1001}"></span>
                                流转下一环节
                            </span>
                        <span class="pointer pr15" ng-click="input.config.multi.handleTypeId=1002">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.handleTypeId==1002}"></span>
                                等待投票完成
                            </span>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3 bg-gray text-right">投票计算类型</th>
                    <td class="col-xs-9">
                             <span class="pointer pr15" ng-click="input.config.multi.voteCalTypeId=1001">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.voteCalTypeId==1001}"></span>
                                票数
                            </span>
                        <span class="pointer pr15" ng-click="input.config.multi.voteCalTypeId=1002">
                                <span class="ys-checkbox"
                                      ng-class="{'selected':input.config.multi.voteCalTypeId==1002}"></span>
                                百分比
                            </span>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3 bg-gray text-right" style="vertical-align: middle">投票值</th>
                    <td class="col-xs-9">
                        <input class="form-control" style="width: 50%" ng-model="input.config.multi.voteValue"/>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3 bg-gray text-right" style="vertical-align: middle">特权会签</th>
                    <td class="col-xs-9">
                        <table class="table table-bordered" style="margin-bottom: 0!important;">
                            <tr class="bg-gray">
                                <th class="text-center">编号</th>
                                <th class="text-center">姓名</th>
                                <th class="text-center">票数</th>
                                <th class="text-center">操作</th>
                            </tr>
                            <tr ng-repeat="privilege in input.config.multi.privileges">
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center">{{privilege.realname}}</td>
                                <td class="text-center">{{privilege.voteNumber}}</td>
                                <td class="text-center">
                                    <a href="javascript:void(0)" ng-click="dropPrivilege(privilege)">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <a href="javascript:void(0)" class="text-primary" ng-click="addPrivilege()">
                                        + 添加会签特权人
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="r p0 p20 pt20" ng-if="!input">
            <div class="col-xs-12 p0 pl20 text-invalid">
                <h2>1、请选择任务节点～！</h2>
            </div>
        </div>
    </div>
</div>