<div class="col-xs-12 p0 ys-workflow-design-diagram">
    <div class="col-xs-12 p0 ys-workflow-design-header">
        <div class="pull-left" ng-include="'management/views/workflow/workflow.design.header.html'"></div>
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="deployment()">部署</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 ys-workflow-design-diagram-container">
    </div>
</div>