<div>
    <div class="col-xs-12 selector-header">
        <div class="col-xs-6 pl5 title">
            {{option.title||'审批状态'}}
        </div>
        <icon class="pull-right ys-dialog-close" name="close-1" width="16px" height="50px" ng-click="close()"></icon>
    </div>
    <div class="col-xs-12 p20 selector-body text-center">
        <img ng-src="{{url}}"  style="padding:0;margin:0px;border:0px solid #000;max-width: 860px"/>
    </div>
    <div class="col-xs-12 p0 selector-footer">
        <button class="btn btn-default pull-right" ng-click="close()">关闭</button>
    </div>
</div>


