<div class="col-xs-12 p0 ys-product-energy-inputting">
    <div class="ys-product-navbar-title" ng-if="false">
        <ol class="breadcrumb br0">
            <li ui-sref="operations.situation.index"><a href="javascript:void(0)">首页</a></li>
            <li ui-sref="basic.index"><a href="javascript:void(0)">数据中心</a></li>
            <li class="active">流程设计</li>
        </ol>
        <div class="pull-right menus"></div>
    </div>
    <div class="col-xs-12 p40 pr0" style="padding-top: 26px">
        <div class="col-xs-12 p0 text-invalid">
            <h2>1、目录双击可直接编辑！</h2>
        </div>
        <div class="col-xs-12 p0 text-invalid">
            <h2>2、点击具体表单可配置工作流！</h2>
        </div>
    </div>
</div>