<div class="col-xs-12 p0">
    <div class="ys-product-navbar-sub">
        <div class="item" ui-sref="basic.indicators.budget" ng-class="{'active':$app.router.includes('basic.indicators.budget')}">预算</div>
        <div class="item" ui-sref="basic.indicators.investment" ng-class="{'active':$app.router.includes('basic.indicators.investment')}">招商</div>
        <div class="item" ui-sref="basic.indicators.passenger"  ng-class="{'active':$app.router.includes('basic.indicators.passenger')}">客流</div>
        <div class="item" ui-sref="basic.indicators.members"  ng-class="{'active':$app.router.includes('basic.indicators.members')}">会员数</div>
    </div>
    <div class="col-xs-12 p0">
        <div class="col-xs-12 p0 ys-framework-product-container">
            <div class="col-xs-12 p0 animated-ui-view fadeIn fadeOut" ui-view></div>
        </div>
    </div>
</div>