<div class="col-xs-12 p0 ys-product-indicators-index">
    <div class="ys-product-navbar-title">
        <ol class="breadcrumb br0">
            <li ui-sref="operations.situation.index"><a href="javascript:void(0)">首页</a></li>
            <li ui-sref="basic.index"><a href="javascript:void(0)">数据中心</a></li>
            <li class="active">指标管理</li>
        </ol>
    </div>
    <div class="col-xs-12 p40 body">
        <!--<div class="col-xs-4 text-center">
            <icon name="members-add-1" width="100px" height="100px"></icon> <hr/> 客流
        </div>-->
        <div class="col-xs-6 text-center text-primary menu pointer">
            <icon name="passenger-1" width="100px" height="60px"></icon>
            <hr/>
            <h2>客户流量</h2>
        </div>
        <div class="col-xs-6 text-center text-primary menu pointer">
            <icon name="members-add-1" width="100px" height="60px"></icon>
            <hr/>
            <h2>会员增长</h2>
        </div>
    </div>
</div>