<div class="col-xs-12 p0">
    <div class="ys-product-navbar no-select">
        <div class="left-bar">
            <div class="item" ui-sref="basic.info.head.index" ng-class="{'active':$app.router.includes('basic.info.head')}">公司信息</div>
            <div class="item" ui-sref="basic.info.project.index" ng-class="{'active':$app.router.includes('basic.info.project')}">项目信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.property-type')}">物业类型</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.building')}">楼栋信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.floor')}">楼层信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.property-ownership')}">产权信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.layout')}">业态信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.store')}">铺位信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.diverse')}">多经信息</div>
            <div class="item" ng-class="{'active':$app.router.includes('basic.info.park')}">停车场信息</div>
            <div class="item" ui-sref="basic.info.brand.index" ng-class="{'active':$app.router.includes('basic.info.brand')}">品牌库</div>
        </div>
        <div class="right-bar">
            <div class="item pointer" ng-repeat="item in topBarSubMenus" ng-click="item.click($event)">
                <icon name="{{item.icon}}" width="18px" height="44px"></icon>
                {{item.text}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0">
        <div class="col-xs-12 p0 ys-framework-product-container">
            <div class="col-xs-12 p0 animated-ui-view fadeIn fadeOut" ui-view></div>
        </div>
    </div>
</div>